{% load static %}
<!-- {{widget}} -->

<div class="anikude_img_field">
    <p>
        <a class="anikude_img_field_reset" href="javascript:void(0);">Отменить</a>
        <a class="anikude_img_field_remove" href="javascript:void(0);">Очистить</a>
    </p>
    <a class="anikude_img_field_pic" href="javascript:void(0);" style="display: inline-block; padding:5px; border: 1px solid #999; border-radius: 3px;">
        <img src="{{ widget.value.url }}" data-url="{{widget.value.url}}" data-value="{{widget.value.path}}" data-placeholder="{{widget.value.placeholder}}">
        <input 
        class="anikude_img_field_input"
        type="input" 
        hidden
        name="{{ widget.name }}"
        value="{{ widget.value.path|stringformat:'s' }}"
        {% include "django/forms/widgets/attrs.html" %}>
    </a>
</div>