
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE}}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ static("admin/css/bootstrap.min.css") }}">
    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{{ static("admin/css/base.css") }}{% endblock %}">
{% block extrahead %}{% endblock %}

{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{{ static("admin/css/rtl.css") }}{% endblock %}">{% endif %}

</head>

<body class="popup">

<!-- Container -->
<div id="container">
    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block content %}
        {{ content }}
        {% endblock %}
        <br class="clear">
    </div>
</div>
<!-- END Container -->
<script src="{{ static("admin/js/vendor/jquery/jquery.min.js") }}"></script>
<script src="{{ static("admin/js/bootstrap.min.js") }}"></script>

</body>
</html>
