<div class="title_comment d-flex flex-column flex-sm-row">
    <div class="title_comment_user_image__wrapper d-flex flex-row">
        <div class="title_comment_user_image">
            <a href="{{comment.user.url}}">
                <img class="img-thumbnail" src="{{comment.user.image.url(125, 125)}}" alt="Аватар пользователя {{comment.user.username}}" title="Аватар пользователя {{comment.user.username}}">
            </a>
        </div>
        <div class="title_comment_caption__wrapper d-flex d-sm-none flex-column  flex-grow-1">
            <div class="d-inline-block">
                <strong><a href="{{comment.user.url}}">{{comment.user.username}}</a></strong>
                <span class="text-muted small">{{date(comment.date)}}</span>
            </div>
            <div class="d-inline-block title_comment_rating__wrapper">
                {% if comment.user != request.user %}
                    <a class="title_comment_answer" href="javascript:void(0);" data-username="{{comment.user.username}}">Ответить</a>
                {% endif %}
                <a href="javascript:void(0);" data-action="like" data-comment="{{comment.id}}" class="title_comment_rating thumb-up text-success ml-2">{{f('thumbs-up')}}<span>[{{comment.rates.filter(rate=comment.RATE_LIKE).count()}}]</span></a>
                <a href="javascript:void(0);" data-action="dislike" data-comment="{{comment.id}}" class="title_comment_rating thumb-down text-danger ml-2">{{f('thumbs-down')}}<span>[{{comment.rates.filter(rate=comment.RATE_DISLIKE).count()}}]</span></a>
            </div>
        </div>
    </div>
    <div class="title_comment_content__wrapper d-flex flex-column flex-grow-1" >
        <div class="title_comment_caption__wrapper d-none d-sm-flex flex-column flex-sm-row">
            <div class="d-inline-block">
                <strong><a href="{{comment.user.url}}">{{comment.user.username}}</a></strong>
                <span class="text-muted small">{{date(comment.date)}}</span>
            </div>
            <div class="d-inline-flex align-items-center title_comment_rating__wrapper ml-auto">
                {% if comment.user != request.user %}
                    <a class="title_comment_answer" href="javascript:void(0);" data-username="{{comment.user.username}}">Ответить</a>
                {% endif %}
                <a href="javascript:void(0);" data-action="like" data-comment="{{comment.id}}" class="title_comment_rating thumb-up text-success ml-2">{{f('thumbs-up')}}<span>[{{comment.rates.filter(rate=comment.RATE_LIKE).count()}}]</span></a>
                <a href="javascript:void(0);" data-action="dislike" data-comment="{{comment.id}}" class="title_comment_rating thumb-down text-danger ml-2">{{f('thumbs-down')}}<span>[{{comment.rates.filter(rate=comment.RATE_DISLIKE).count()}}]</span></a>
            </div>
        </div>
        <div class="title_comment_text__wrapper flex-grow-1">
            {% if comment.spoiler and comment.user != request.user %}
                <div class="spoiler">
                    <div class="title_comment_text">
                        {{comment.text}}
                    </div>
                    <div class="title_comment_show__wrapper">
                        <strong>
                            <a href="javacript:void(0);" class="title_comment_show">Показать польностью</a>
                        </strong>
                    </div>
                </div>
                <strong>
                    <a href="javascript:void(0);" class="title_spoiler_show">Cпойлер! Показать?</a>
                </strong>
            {% else %}
                <div>
                    <div class="title_comment_text">
                        {{comment.text}}
                    </div>
                    <div class="title_comment_show__wrapper">
                        <strong><a href="javacript:void(0);" class="title_comment_show">Показать польностью</a></strong>
                    </div>
                </div>            {% endif %}
        </div>    </div>
</div>