<form id="comment_form" class="form form-vertical"> 
    {% if form.validation_error %}
        <div class="alert alert-danger">{{form.validation_error}}</div>
    {% endif %}
    
    {% for field in form.get_fields() %}
        <div class="form-group">
            <label for="{{field.id_for_label}}">{{field.label}}</label>
            {{field}}
            {% if field.errors %}
                <div class="invalid-feedback">{{field.errors.as_text()}}</div>    
            {% endif %}
        </div>
    {% endfor %}

    <p><button class="btn btn-primary" type="submit">Оставить комментарий</button></p>
</form>

<script>
    $(document).ready(function(){
        $('form').find('.invalid-feedback').parent('.form-group').find('input,select,file,textarea').addClass('is-invalid');
        $('#comment_form').on('submit', function(){
            that = this;
            var data = $(this).serialize();
            data += '&csrfmiddlewaretoken=' + csrftoken;
            fetch('{{url("title_leave_comment", kwargs={"title": title.slug})}}', {
                body: new URLSearchParams(data).toString(),
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                method: 'post'
            })
            .then(response => response.json())
            .then(json => {
                if(json.error){
                    Notice.add(json.error, 'danger');
                }else{
                    Notice.add(json.success, 'success');
                    if(json.comment){
                        $('.title_comments__list').prepend(json.comment + '<hr>');
                    }
                    $(that).find('input, textarea').val('');
                }
            })
            .catch(err => {});
            
            return false;
        });
    });
</script>