{% extends 'web/base.jinja' %}

{% block meta %}
    <title>{{title.name}} аниме смотреть онлайн | Anikude.com</title>
    <meta name="title" content="{{title.meta_title}}">
    <meta name="description" content="{{title.meta_description}}">
    {% if title.type == title.TYPE_TV %}
        <script type="application/ld+json">
            {
                "@context": ["http://schema.org", {"@language": "ru"}],
                "@type": "TVSeries",
                "@id": "{{title.url}}",
                "url": "{{title.url}}",
                "name": "{{title.name}}",
                {% if title.description %}
                "description": "{{title.description}}",
                {% endif %}
                "image" : "{{title.poster.url(300)}}",
                "datePublished" : "{{title.md_date}}",
                "seasons": [
                    {
                        "@type": "TVSeason",
                        "name": "{{title.name}}",
                        "numberofEpisodes": "{{title.episodes_number}}"
                    }
                ]
                {% if title.rating_max %}
                ,
                "aggregateRating" : {
                    "@type" : "AggregateRating",
                    "ratingValue" : "{{title.rating}}",
                    "ratingCount" : "{{title.rating_total}}",
                    "worstRating" : "{{title.rating_min}}",
                    "bestRating" : "{{title.rating_max}}"
                }
                {% endif %}
            }
        </script>
    {% endif %}
{% endblock meta %}

{% block content %}
    <div class="container">
        <div class="title__wrapper">
            <div class="row">
                <div class="col-md-4">
                    <div class="title_poster__wrapper text-center">
                        <img class="title_poster img-fluid" title="{{title.name}}" alt="{{title.name}}" src="{{title.poster.url(300)}}">
                    </div>
                    <div class="title_user_lists__wrapper dropdown text-center bg-dark">
                        <a class="dropdown-toggle" href="javascript:void(0);" data-targer="#add_to_list" data-toggle="dropdown">Добавить в список</a>
                        <div id="add_to_list" class="title_user_lists dropdown-menu">
                            {% for item in title.user_lists %}
                                <a class="dropdown-item add_to_list{% if item.list in title.in_user_lists(request) %} active{%endif%}" {#title="{% if item.list in title.in_user_lists(request) %}Удалить из списка{% else %}Добавить в список{%endif%}"#} data-toggle="tooltip" data-list="{{item.list}}" data-title-id="{{title.id}}" href="javascript:void(0);">{{item.text}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="title_caption__wrapper text-center text-md-left">
                        <h3 class="title_name">{{title.name}}</h3>
                        <div class="title_rating__wrapper d-flex align-items-center justify-content-center justify-content-md-start">
                            <span class="title_rating_star" data-toggle="modal" data-target="#rate_title" title="Поставить рейтинг">{{f('star')}}</span>
                            <span class="title_rating" data-toggle="modal" data-target="#rate_title" title="Поставить рейтинг" itemprop="ratingValue">{{title.rating}}</span>
                            <span class="title_rating_total">(<span itemprop="reviewCount">{{title.rating_total}}</span> {{plu(title.rating_total, ['голос', 'голоса', 'голосов'])}})</span>
                        </div>
                        <div class="title_info__wrapper">
                            {% if title.category %}
                                <div class="title_category">
                                    <table>
                                        <tr class="title_info__row">
                                            <td class="title_info__name">Категория:&nbsp;</td>
                                            <td class="title_info__value">
                                                <a href="{{url('catalog', kwargs={'filter': title.category.slug})}}">{{title.category.name}}</a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            {% endif %}

                            {% if title.genres.count() %}
                                <div class="title_genres">
                                    <table>
                                        <tr class="title_info__row">
                                            <td class="title_info__name">Жанры:&nbsp;</td>
                                            <td class="title_info__value">
                                                {% for genre in title.genres.all() %}
                                                    <a href="{{url('catalog', kwargs={'filter': genre.slug})}}">{{genre.name}}</a>{% if not loop.last %}, {% endif %}
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            {% endif %}
                            
                            {% if title.studios.count() %}
                                <div class="title_studios">
                                    <table>
                                        <tr class="title_info__row">
                                            <td class="title_info__name">Студии:&nbsp;</td>
                                            <td class="title_info__value">
                                                {% for studio in title.studios.all() %}
                                                    <a href="{{url('catalog', kwargs={'filter': studio.slug})}}">{{studio.name}}</a>{% if not loop.last %}, {% endif %}
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            {% endif %}

                            {% if title.translations.count() %}
                                <div class="title_translations">
                                    <table>
                                        <tr class="title_info__row">
                                            <td class="title_info__name">Озвучки:&nbsp;</td>
                                            <td class="title_info__value">
                                                {% for translation in title.translations.all() %}
                                                    <a href="{{url('catalog', kwargs={'filter': translation.translator.slug})}}">{{translation.translator.name}}</a>{% if not loop.last %}, {% endif %}
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            {% endif %}

                            <div class="title_episodes_total_number">
                                <table>
                                    <tr class="title_info__row">
                                        <td class="title_info__name">Количество эпизодов:&nbsp;</td>
                                        <td class="title_info__value">
                                            {% if title.episodes_total_number %}
                                                {{title.last_episode}} из {{title.episodes_total_number}}
                                            {% else %}
                                                {{title.last_episode}}
                                            {% endif %}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {% if title.description %}
                    <div class="col-sm-12 title_desciprion">
                       <p>{{title.description}}</p> 
                    </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-md-9 title_translations__wrapper position-static">
                    {% if title.watch_order_titles.count() %}
                        <div class="title_watch_order__wrapper">
                            <div class="card">
                                <div class="card-header title_watch_order" data-toggle="collapse" data-target="#watch_order">Порядок просмотра</div>
                                <div class="collapse" id="watch_order">
                                    <div class="card-body">
                                        {% for watch_order_title in title.watch_order_titles.get().watch_order.titles.order_by('sort_order').all() %}
                                            <div class="">
                                                {% if watch_order_title.title == title %}
                                                    #{{loop.index}}: <strong><a href="javascript:void(0);">{{watch_order_title.title.name}} ({{watch_order_title.title.episodes_number}} эп.) - {{watch_order_title.title.year}}</a>    </strong>
                                                {% else %}
                                                    #{{loop.index}}: <a href="{{watch_order_title.title.url}}">{{watch_order_title.title.name}} ({{watch_order_title.title.episodes_number}} эп.) - {{watch_order_title.title.year}}</a>          
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                         </div>
                    {% endif %}

                    <div class="title_translations__wrapper">
                        
                        {% for translation in title.translations.all() %}
                            {% if translation.episodes.count() %}
                                <div class="title_translation__wrapper w-100 card text-white bg-primary">
                                    <div class="title_translation_name card-header" data-toggle="collapse" data-target="#translation_{{translation.id}}">
                                        <strong>{{translation.translator.name}}</strong> ({{translation.episodes.count()}} эп.)
                                    </div>
                                    <span class="title_translation_subscription{% if request.user.is_authenticated and request.user.subscriptions.filter(translation=translation).count() %} active{% endif %}" data-toggle="tooltip" title="{% if request.user.is_authenticated and request.user.subscriptions.filter(translation=translation).count() %}Отписаться от уведомлений о выходе новых серий{% else %}Подписаться на уведомления о выходе новых серий{% endif %}" data-tr="{{translation.id}}"><span class="mr-1">Подписка</span>{{f('check')}}</span>
                                    <div class="collapse{% if translation == title.last_viewed_translation(request) %} show{%endif%}" id="translation_{{translation.id}}">
                                        <div class="card-body">
                                            <div class="title_translation_se__wrapper">
                                                {% for episode_obj in translation.episodes.all().order_by('episode') %}
                                                    <a class="title_translation_episode{% if last_viewed_episode[translation.id].episode == episode_obj %} active{%endif%}" href="javascript:void(0);"   data-translation="{{translation.id}}" data-ep="{{episode_obj.id}}" data-episode="{{episode_obj.episode}}" data-frame="{{translation.frame_url(episode_obj.translation.title.season, episode_obj.episode)}}">{{episode_obj.episode}}</a>
                                                {% endfor %}
                                            </div>
                                            {% if translation.last_viewed_episode(request) != None and translation.last_viewed_episode(request).player_time %}
                                                <a class="title_translation_last" href="javascript:void(0);"   data-translation="{{translation.id}}" data-ep="{{last_viewed_episode[translation.id].episode.id}}" data-frame="{{translation.frame_url(translation.last_viewed_episode(request).episode.translation.title.season, translation.last_viewed_episode(request).episode.episode, translation.last_viewed_episode(request).player_time)}}">
                                                    Продолжить просмотр {{translation.last_viewed_episode(request).episode.episode}} эпизода с {{duration(translation.last_viewed_episode(request).player_time)}}
                                                </a>
                                            {% endif %}
                                            <div class="title_translation_player_container"></div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <br>
                    <div class="title_comments__wrapper">
                        <div class="title_comments__header">
                            <div class="h4">Комментарии</div>
                        </div>
                        <div class="title_comments__form">
                            {{comment_form.render(request, title)}}
                        </div>
                        {% if title.comments.count() %}
                            <div class="title_comments__sort bg-primary">
                                <span>Сортировать по:</span>
                                <span>
                                    {% if not sort or sort == 'date' %}
                                        <a class="d-inline-flex comment_sort active" href="javascript:void(0);" onclick="ComPag.sort_load('date', this)">дате</a>
                                        <a class="d-inline-flex comment_sort" href="javascript:void(0);" onclick="ComPag.sort_load('likes', this)">рейтингу</a>
                                    {% else %}
                                        <a class="d-inline-flex comment_sort" href="javascript:void(0);" onclick="ComPag.sort_load('date', this)" >дате</a>
                                        <a class="d-inline-flex comment_sort active" href="javascript:void(0);" onclick="ComPag.sort_load('likes', this)">рейтингу</a>
                                    {% endif %}
                                </span>
                            </div>
                            <div class="position-relative">
                                <div class="title_comments__list">
                                    {{title.render_comments(request)}}
                                </div>
                                <div id="comments_preloader" class="preloader d-none"></div>
                            </div>
                        {% endif %}
                        {% if title.show_comments_load_button %}
                            <div class="title_comments__load text-center">
                                <button class="btn btn-primary" onclick="ComPag.load()">Показать еще</button>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-3">

                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="rate_title" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h4 class="modal-title">Рейтинг {{title.name}}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <h5>Оценить тайтл</strong></h5>
                        {% for rate, text, total in title_ratings[::-1] %}
                            <div class="m-1">
                                <a class="rate__wrapper ml-2 d-flex align-items-center text-decoration-none text-dark {% if user_rate != None and user_rate == rate %}active{% endif %}" href="javascript:void(0);" data-rate="{{rate}}">
                                    <div class="d-inline-block rate_wrap">
                                        <i class="far fa-star fa-2x rate_i_i"></i>
                                        <i class="fa fa-star rate_i" style="opacity: {{ (rate) * 0.1 }}"></i>
                                    </div>
                                    <span class="ml-2">{{text}}</span>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="mt-3">
                        <h5>Всего голосов - <strong>{{title.title_ratings.count()}}</strong></h5>
                        {% for rate, text, total in title_ratings[::-1] %}
                        <div class="d-flex flex-row align-items-center">
                            <div class="d-flex w-50">
                                <div class="progress w-100">
                                    {% if total == 0 %}
                                        <div class="progress-bar" style="width: 0px;" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="{{title.title_ratings.count()}}"></div>
                                    {% else %}
                                        <div class="progress-bar" style="width:{{ (total/title.title_ratings.count() * 100) }}%;" role="progressbar" aria-valuenow="{{total}}" aria-valuemin="0" aria-valuemax="{{title.title_ratings.count()}}">{{total}}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <span class="ml-1"> - {{text}}</span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function initComments(container = '.title_comments__list'){
            $.each($(container + ' .title_comment_text'), function(i,e){
                if($(e).height() > 87.5){
                    $(e).parents(container + ' .title_comment_text__wrapper').addClass('hidden');
                }
            });
        }
        function initCommentsButtons(){
            $('.title_comments__list .title_comment_show').off('click');
            $('.title_comments__list .title_spoiler_show').off('click');
            $('.title_comment_answer').off('click');
            $('.title_comment_rating').off('click');

            $('.title_comments__list .title_comment_show').on('click', function(){
                $(this).parents('.title_comments__list .title_comment').addClass('show');
                $(this).parents('.title_comments__list .title_comment_show__wrapper').remove();
            });
            
            $('.title_comments__list .title_spoiler_show').on('click', function(){
                $(this).parents('.title_comments__list .title_comment_text__wrapper').find('.spoiler').removeClass('spoiler');
                $(this).parent().remove();
            });

            $('.title_comment_answer').on('click', function(){
                
                var comment_text = $('#comment_form textarea[name="comment"]').val();
                if(comment_text){
                    $('#comment_form textarea[name="comment"]').val(comment_text + '\n@' + $(this).data('username') + ', ');
                }else{
                    $('#comment_form textarea[name="comment"]').val('@' + $(this).data('username') + ', ');
                }

                //$('html, body').animate({scrollTop: $('.title_comments__wrapper').position().top - 50 }, 300);
            });

            $('.title_comment_rating').on('click', function(){
                data = {action: $(this).data('action'), csrfmiddlewaretoken: csrftoken, comment: $(this).data('comment')};
                that = this;

                fetch('{{url("title_rate_comment", kwargs={"title": title.slug})}}', {
                    body: new URLSearchParams(data).toString(),
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    method: 'post'
                })
                .then(response => response.json())
                .then(json => {
                    if(json['error']){
                        Notice.add(json['error'], 'danger');
                    }else{
                        Notice.add(json['success'], 'success');
                        $(that).parent().find('[data-action="like"] > span').html('[' + json['likes'] + ']');                
                        
                        $(that).parent().find('[data-action="dislike"] > span').html('[' + json['dislikes'] + ']');                
                    }
                })
                .catch(err => {});
            });
        }

        initComments();
        initCommentsButtons();

        var watching = {
            ep: null,
            player_time: null,
            iframe: null
        };
        
        var next = null;

        $('.title_translation_last').on('click', function(){
            var ep = $('#translation_' + $(this).data('translation') + ' .title_translation_episode[data-ep="' + $(this).data('ep') + '"]');
            $(ep).data('frame', $(this).data('frame'));
            $(ep).trigger('click');
            $(this).remove();
        });

        $('.title_translation_episode').on('click', function(){
            $('#translation_' + $(this).data('translation') + ' .title_translation_episode').removeClass('active');
            $('#translation_' + $(this).data('translation') + ' .title_translation_last').remove();
            $(this).addClass('active');
            player_container = $('#translation_' + $(this).data('translation')).find('.title_translation_player_container');
            player_container.addClass('embed-responsive embed-responsive-16by9');
            player_container.html('<iframe class="title_player embed-responsive-item" frameborder="0" scrolling="no" allowfullscreen="" src="' + $(this).data('frame') + '"></iframe>');

            if ('ga' in window) {
                tracker = ga.getAll()[0];
                if (tracker)
                    tracker.send('event', 'Titles', 'Watch Click');
            }

            fetch('{{ url("title_viewed") }}', {
                body: new URLSearchParams({'csrfmiddlewaretoken':csrftoken, ep: $(this).data('ep')}).toString(),
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                method: 'post'
            })
            .then(response => response.json())
            .then(json => {})
            .catch(err => {});

            watching.ep = this;
            watching.iframe = player_container.find('iframe')[0];
        });
        
        $('.add_to_list').on('click', function(){
            that = this

            fetch('{{url("title_add_to_list")}}', {
                body: new URLSearchParams({'csrfmiddlewaretoken':csrftoken, 'list': $(that).data('list'), 'title': $(that).data('title-id')}).toString(),
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                method: 'post'
            })
            .then(response => response.json())
            .then(json => {
                if (json['error']){
                    Notice.add(json['error'], 'danger');
                }else{
                    Notice.add(json['success'], 'success');
                }
            })
            .catch(err => {});
        });
        
        $('.title_translation_subscription').on('click', function(){
            tr = $(this).data('tr');
            that = this

            fetch('{{url("translation_subscribe")}}', {
                body: new URLSearchParams({'tr': tr, 'csrfmiddlewaretoken':csrftoken}).toString(),
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                method: 'post'
            })
            .then(response => response.json())
            .then(json => {
                if (json['error']){
                    Notice.add(json['error'], 'danger');
                }else{
                    Notice.add(json['success'], 'success');
                    $(that).toggleClass('active');
                    if($(that).hasClass('active')){
                        $(that).attr('title', 'Отписаться от уведомлений о выходе новых серий');
                        $(that).attr('data-original-title', 'Отписаться от уведомлений о выходе новых серий');
                    }else{
                        $(that).attr('title', 'Подписаться на уведомления о выходе новых серий');
                        $(that).attr('data-original-title', 'Подписаться на уведомления о выходе новых серий');
                    }
                }
            }).catch(err => {});
        });

        function onPlayerTimeUpdate(player_time) {
            if(watching.ep){
                var player_time_seconds = Math.floor(player_time);
                if(watching.player_time !== player_time_seconds && !(player_time_seconds % {{title.PLAYER_TIME_SAVE}})){
                    watching.player_time = player_time_seconds;

                    fetch('{{ url("title_update_player_time") }}', {
                        body: new URLSearchParams({'csrfmiddlewaretoken':csrftoken, ep: $(watching.ep).data('ep'), player_time: player_time_seconds}).toString(),
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                        },
                        method: 'post'
                    })
                    .then(response => response.json())
                    .then(json => {})
                    .catch(err => {});
                }
            }
        }

        function onPlayerNextEpisode(data) {
            console.log(data);
            console.log(watching);

            if (watching){
                next = data;
            }
        }

        function onPlayerStartVideo(data) {
            console.log(data);
            if (next && watching){
                $(watching.ep).removeClass('active');
                ep = $('#translation_' + $(watching.ep).data('translation') + ' .title_translation_episode[data-episode="' + next.episode + '"]');
                $(ep).addClass('active');
                
                fetch('{{ url("title_viewed") }}', {
                    body: new URLSearchParams({'csrfmiddlewaretoken':csrftoken, ep: $(ep).data('ep')}).toString(),
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    method: 'post'
                })
                .then(response => response.json())
                .then(json => {})
                .catch(err => {});

                watching.ep = ep;
                next = null;
            }
        }

        function mwPlayerMessageReceive(event) {
            
            if (event.data && event.data.message == 'MW_PLAYER_TIME_UPDATE') {
                onPlayerTimeUpdate(event.data.value);
            }else if(event.data && event.data.event == 'resumed'){
                onPlayerStartVideo(event.data.value);           
            }else if (event.data && event.data.message == 'MW_PLAYER_NEXT_EPISODE') {
                onPlayerNextEpisode(event.data.value);
            }
        }

        $(function() {
            if (window.addEventListener) {
                window.addEventListener('message', mwPlayerMessageReceive);
            } else {
                window.attachEvent('onmessage', mwPlayerMessageReceive);
            }
        });

        function autoplay(that){
            /* setTimeout(function(){
                that.contentWindow.postMessage({ method: 'play' }, '*');
            }, 1000); */
        }

        function CommentsPagination(page=1){
            this.page = parseInt(page);
            this.sort = 'date';
            this.load = function(reset = false){
                data = {page: this.page + 1, sort: this.sort}
                that = this;
                
                $('#comments_preloader').addClass('active');
                $('#comments_preloader').removeClass('d-none');

                fetch('{{url("title_comments", kwargs={"title": title.slug})}}?' +  new URLSearchParams(data).toString(), {
                    method: 'get'
                })
                .then(response => response.json())
                .then(json => {
                    if(json['error']){
                        Notice.add(json['error'], 'danger');
                    }else{
                        setTimeout(function(){
                            $('#comments_preloader').removeClass('active');
                            $('#comments_preloader').addClass('d-none');
                        }, 200);

                        $('body').append('<div id="temp_comments" class="d-none"></div>')
                        $('#temp_comments').html(json['comments']);
                        initComments('#temp_comments');
                        
                        if(reset){
                            $('.title_comments__list').html($('#temp_comments').html());
                        }else{
                            $('.title_comments__list').append('<hr>' + $('#temp_comments').html());
                        }

                        initCommentsButtons();

                        $('#temp_comments').remove();
                        that.page += 1;

                        if(!json['has_next']){
                            $('.title_comments__load').hide();
                        }else{
                            $('.title_comments__load').show();
                        }
                    }
                })
                .catch(err => {});
            }
            this.sort_load = function(sort, that){
                if(!$(that).hasClass('active')){
                    this.sort = sort;
                    this.page = 0;
                    this.load(true);
                    $('.comment_sort').removeClass('active');
                    $(that).addClass('active');
                }
            }
        }
        ComPag = new CommentsPagination(1);

        $('[data-rate]').on('click', function(){
            data = {rate: $(this).data('rate'), csrfmiddlewaretoken: csrftoken}
            that = this;
            
            fetch('{{url("title_rate_title", kwargs={"title": title.slug})}}', {
                body: new URLSearchParams(data).toString(),
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                method: 'post'
            })
            .then(response => response.json())
            .then(json => {
                if(json['error']){
                    Notice.add(json['error'], 'danger');
                }else{
                    Notice.add(json['success'], 'success');
                    $('.rate__wrapper').removeClass('active');
                    $(that).addClass('active');
                }
            })
            .catch(err => {});
        });
    </script>
{% endblock content %}
    