<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146856642-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-146856642-1');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#2B2B3B">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#2B2B3B">
    <meta name="apple-mobile-web-app-title" content="Anikude - смотреть аниме онлайн">
    <meta name="keywords" content="аникуда,аниме,anikude,anime,anime online,anikude anime">
    {% block meta %}
    {% endblock meta %}

    <link rel="icon" type="image/png" href="{{static('images/logo_192_ro.png')}}" />
    <link rel="manifest" href="{{static('web/js/manifest.json')}}">
    <link rel="apple-touch-icon" sizes="192x192" href="{{static('images/logo_192_sq.png')}}">
    <link rel="apple-touch-icon" sizes="512x512" href="{{static('images/logo_512_sq.png')}}">
    
    <link rel="stylesheet" href="{{ static('web/css/fontawesome/all.min.css') }}">
    <style>
        {{get_static(static('web/css/bootstrap/bootstrap.min.css')) | safe}}
        {{get_static(static('web/css/mmenu.css')) | safe}}
        {% block styles %}{% endblock styles %}
        {{get_static(static('web/css/base.css')) | safe}}
    </style>

    <script src="{{ static('web/js/vendor/jquery/cash.min.js') }}"></script>    
</head>
<body onbeforeunload="return unloadPage()">
    {{ header }}
        <main>
            <div id="content">
                {% block content %}{% endblock content %}
            </div>
        </main>
        <footer>{{ footer }}</footer>
    </div>  {# closing tag in header #}

    {% block styles_footer %}{% endblock styles_footer %}    

    <script>
        {% if notices %}
            $(document).ready(() => {
                var notices = {{json(notices) | safe}};
                $.each(notices, function(i,e){
                    Notice.add(e.text, e.style);
                });
            });
        {% endif %}
        document.addEventListener(
            "DOMContentLoaded", () => {
                new Mmenu( "#mobile_nav", {
                    navbars: [
                        {
                            position: 'top',
                            content: [
                                'prev',
                                'title'
                            ]
                        },
                        {
                            position: 'top',
                            content: [
                                'searchfield'
                            ]
                        },
                    ],
                    navbar: {
                        title: 'Меню'
                    },
                    
                    extensions: [
                        'pagedim-black'
                    ],

                    searchfield:{
                        placeholder: 'Поиск',
                        search: false,
                    },

                    setSelected: {
                        hover: true,
                        parent: true,
                        current: 'detect'
                     }
                }, {
                    searchfield	: {
                        clear: true,
                        form: {
                            action: '{{url("search")}}',
                            method: 'get'
                        },
                        input: {
                            value: getUrlVar('q') ? decodeURI(getUrlVar('q')) : '',
                            name:'q',
                            required: true,
                            minlength: '3',
                            maxlength: '255'
                        },
                        submit: true
                    },
                    transitionDuration: 200,
                });
            }
        );

        
        $(document).ready(function(){
            $('.mobile_nav_list').removeClass('d-none');
        });
    </script>
    
    <script src="{{ static('web/js/bootstrap/bootstrap-native-v4.min.js') }}"></script>
    <script src="{{ static('web/js/mmenu.polyfills.js') }}"></script>
    <script src="{{ static('web/js/mmenu.js') }}"></script>
    {% block scripts_footer %}{% endblock scripts_footer %}
    <script src="{{ static('web/js/base.js') }}"></script>

    <script async src="{{ static('web/js/fontawesome/all.min.js') }}"></script>
    {#
    <!-- <script src="{{ static('web/js/firebase/firebase-app.js') }}"></script> -->
    <!-- <script src="{{ static('web/js/firebase/firebase-messaging.js') }}"></script> -->
    <!-- <script src="{{ static('web/js/nf.js') }}"></script> -->
    #}
</body>
</html>