<nav id="mobile_nav">
    <ul class="d-none mobile_nav_list">
        {% for item in menu %}
            <li class="{% if item.url in request.path %} mm-listitem_selected{% endif %}">
                <a href="{{ item.url }}"><span class="d-sm-inline-flex">{{item.text}}</a>
            </li>
            {% if item.children %}
                <ul>
                    {% for child in item.children %}
                        <li class="{% if child.url in request.path %} mm-listitem_selected{% endif %}"><a href="{{ child.url }}">{{ child.text }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}

        {% if request.user.is_authenticated %}
        
        <li class="{% if '/profile/' in request.path %} mm-listitem_selected{% endif %}">
            <a href="javascript:void(0);" id="nd_profile">
                Аккаунт
            </a>
            <ul>
                <li class="{% if url('profile') in request.path %} mm-listitem_selected{% endif %}"><a href="{{ url('profile') }}">Профиль</a></li>
                <li class="{% if url('profile_edit') in request.path %} mm-listitem_selected{% endif %}"><a href="{{ url('profile_edit') }}">Редактировать</a></li>
                <li class="{% if url('profile_logout') in request.path %} mm-listitem_selected{% endif %}"><a href="{{ url('profile_logout') }}">Выйти</a></li>
            </ul>
        </li>
        <li class="{% if url('notifications') in request.path %} mm-listitem_selected{% endif %}">
            <a href="{{ url('notifications') }}">
                    Уведомления
                    {% if request.user.notifications.filter(read=0).count() %}
                        <span class="badge badge-primary notification_number">{{request.user.notifications.filter(read=0).count() }}</span>
                    {% endif %}
            </a>
        </li>
        {% else %}
            <li class="{% if '/login/' in request.path %} mm-listitem_selected{% endif %}">
                <a href="{{ url('login') }}"><span class="d-sm-inline-flex">Войти</a>
            </li>
        {% endif %}
    </ul>
</nav>
<div class="">
    <header class="header__container fixed-top Fixed">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark" id="nav">
            <a class="navbar-toggler" href="#mobile_nav">
                <span class="d-none spinner-border" role="status" aria-hidden="true"></span>
                <span class="navbar-toggler-icon"></span>
                {% if request.user.is_authenticated and request.user.notifications.filter(read=0).count() %}
                    <span class="badge badge-primary notification_number">{{request.user.notifications.filter(read=0).count() }}</span>
                {% endif %}
            </a>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 d-flex nav_fix flex-row-reverse flex-md-row">
                        <a class="navbar-brand" alt="Anikude.com | смотреть аниме онлайн" aria-label="Anikude.com | смотреть аниме онлайн"><div class="logo"></div></a>
                        <div class="d-inline-flex">
                            <div class="collapse navbar-collapse" id="navbar__collapse">
                                <ul class="navbar-nav">
                                    {% for item in menu %}
                                        {% if item.children %}
                                            <li class="nav-item dropdown">
                                                <a class="nav-link{% if request.path.split('/')[1] == item.url %} active{% endif %}" href="{{ item.url }}" data-toggle="dropdown" id="nd_{{loop.index}}">{{ item.icon if 'icon' in item else '' }}{{item.text}}</a>
                                                <div class="dropdown-menu" aria-labelledby="nd_{{loop.index}}">
                                                    <a class="dropdown-item" href="{{ item.url }}">{{ item.text }}</a>
                                                    {% for child in item.children %}
                                                        <a class="dropdown-item" href="{{ child.url }}">{{ child.text }}</a>
                                                    {% endfor %}
                                                </div>
                                            </li>
                                        {% else %}
                                            <li class="nav-item">
                                                <a class="nav-link{% if request.path.split('/')[1] == item.url %} active{% endif %}" href="{{ item.url }}"><span class="d-sm-inline-flex">{{item.text}}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if request.user.is_authenticated %}
                                    
                                    <li class="nav-item dropdown">
                                        <a class="nav-link{% if request.path.split('/')[1] == 'profile' %} active{% endif %}" href="javascript:void(0);" data-toggle="dropdown" id="nd_profile">
                                            Аккаунт
                                            {% if request.user.notifications.filter(read=0).count() %}
                                                <span class="badge badge-primary notification_number">{{request.user.notifications.filter(read=0).count()}}</span>
                                            {% endif %}
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="nd_profile">
                                            <a class="dropdown-item" href="{{ url('profile') }}">Профиль</a>
                                            <a class="dropdown-item" href="{{ url('profile_edit') }}">Редактировать</a>
                                            <a class="dropdown-item" href="{{ url('notifications') }}">
                                                Уведомления
                                                {% if request.user.notifications.filter(read=0).count() %}
                                                    <span class="badge badge-primary notification_number">{{request.user.notifications.filter(read=0).count() }}</span>
                                                {% endif %}
                                            </a>
                                            <a class="dropdown-item" href="{{ url('profile_logout') }}">Выйти</a>
                                        </div>
                                    </li>
                                    {% else %}
                                        <li class="nav-item">
                                            <a class="nav-link{% if request.path.split('/')[1] == 'login' %} active{% endif %}" href="{{ url('login') }}"><span class="d-sm-inline-flex">Войти</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div> 
                        </div>
                    </div>
                    <div class="d-none d-md-flex col-md-4  __search">
                        <form class="form-inline w-100" action="{{ url('search') }}" >
                            <div class="input-group w-100">
                                <input type="text" class="form-control" placeholder="Поиск" name="q" value="{{ request.GET.get('q', '') }}" required minlength="3" maxlength="255" id="search_input_xs" aria-label="Поиск">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit" aria-label="Найти" title="Найти">{{ f('search') }}</button> 
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </header>