
{% if page.has_other_pages() %}
<div class="col-sm-12">
    <ul class="pagination justify-content-center">
        {% if page.has_previous() %}
            <li class="page-item"><a class="page-link" href="{{request.path}}{% if query %}?q={{query|urlencode}}{% endif %}" alt="Первая страница" title="Первая страница">{{f('chevron-double-left')}}</a></li>
            
            <li class="page-item"><a class="page-link" href="{% if page.previous_page_number() != 1 %}?page={{ page.previous_page_number() }}{% else %}{{request.path}}{% endif %}{% if sort %}&sort={{sort}}{%endif%}{% if query %}&q={{query|urlencode}}{% endif %}" alt="Предыдущая страница" title="Предыдущая страница">{{f('chevron-left')}}</a></li>
        {% endif %}

        {% for i in range(2)[::-1] %}
            {% if page.number - (i + 1) > 0 %}
                {% if (page.number - (i + 1)) == 1 %}
                    <li class="page-item"><a class="page-link" href="{{request.path}}{% if query %}?q={{query|urlencode}}{% endif %}">{{ page.number - (i + 1) }}</a></li>  
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ page.number - (i + 1) }}{% if sort %}&sort={{sort}}{%endif%}{% if query %}&q={{query|urlencode}}{% endif %}">{{ page.number - (i + 1) }}</a></li>  
                {% endif %}
            {% endif %}
        {% endfor %}
            
        <li class="page-item active"><a class="page-link">{{ page.number }}</a></li>
        
        {% for i in range(2) %}
            {% if page.number + (i + 1) <= page.paginator.num_pages %}
                <li class="page-item"><a class="page-link" href="?page={{ page.number + (i + 1) }}{% if sort %}&sort={{sort}}{%endif%}{% if query %}&q={{query|urlencode}}{% endif %}">{{ page.number + (i + 1) }}</a></li>  
            {% endif %}
        {% endfor %}
        
        {% if page.has_next() %}
            <li class="page-item"><a class="page-link" id="pagination__next" href="?page={{ page.next_page_number() }}{% if sort %}&sort={{sort}}{%endif%}{% if query %}&q={{query|urlencode}}{% endif %}" alt="Следующая страница" title="Следующая страница">{{ f('chevron-right') }}</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page.paginator.num_pages }}{% if sort %}&sort={{sort}}{%endif%}{% if query %}&q={{query|urlencode}}{% endif %}" alt="Последняя страница" title="Последняя страница">{{f('chevron-double-right')}}</a></li>
        {% else %}
            <a class="d-none" id="pagination__next"></a>
        {% endif %}
    </ul>
</div>
{% else %}
    <a class="d-none" id="pagination__next"></a>
{% endif %}