const CACHE = "anikude_sw_cache";
const PRE_CACHE = [

    '{{url("offline")}}',

    '{{static("web/css/fontawesome/all.min.css")}}',

    '{{static("images/logo_sq.svg")}}',
    '{{static("images/logo_192_ro.png")}}',
    '{{static("images/logo_192_sq.png")}}',
    
    '{{static("web/js/manifest.json")}}',
    '{{static("web/audio/notification.mp3")}}',

    '{{static("web/js/base.js")}}',
    '{{static("web/js/fontawesome/all.min.js")}}',
    '{{static("web/js/mmenu.polyfills.js")}}',
    '{{static("web/js/mmenu.js")}}',
    '{{static("web/js/choices.min.js")}}',
    '{{static("web/js/vendor/jquery/cash.min.js")}}',
    '{{static("web/js/bootstrap/bootstrap-native-v4.min.js")}}',
    '{{static('web/js/infinite-scroll.pkgd.min.js')}}',
];

const OFFLINE_FALLBACK_PAGE = "/offline/";

const FORCE_NETWORK_PATHS = [

];

const DO_NOT_CACHE_PATHS = [
    /\/profile\/.*/,
    /\/user_profile\/.*/,
    /\/user\/.*/,
    /\/search\/.*/,
    /\/static\/images\/cache\/user\/.*/,
];

self.addEventListener("install", function (event) {
  console.log("[PWA] Install Event processing");

  event.waitUntil(
    caches.open(CACHE).then(function (cache) {
      console.log("[PWA] Cached offline page during install");

      return cache.addAll(PRE_CACHE);
    })
  );
});

self.addEventListener("fetch", function (event) {
  if (event.request.method !== "GET") return;

    event.respondWith(
            fetch(event.request).catch(function (error) {
                return caches.open(CACHE).then(function (cache) {
                    
                    return cache.match(event.request).then(response => {
                        if(response){
                            return response
                        }else{
                            return Promise.reject('not found')
                        }
                    }).catch(error => {
                        console.error("[PWA] Network request Failed. Serving offline page " + error);
                        return cache.match(OFFLINE_FALLBACK_PAGE);
                    })
            });
        })
    );
});

self.addEventListener("refreshOffline", function () {
    const offlinePageRequest = new Request(OFFLINE_FALLBACK_PAGE);

    return fetch(OFFLINE_FALLBACK_PAGE).then(function (response) {
        return caches.open(CACHE).then(function (cache) {
            console.log("[PWA] Offline page updated from refreshOffline event: " + response.url);
            return cache.put(offlinePageRequest, response);
        });
    });
});