<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    <url>
        <loc>https://anikude.com</loc>
    </url>
    {% for category in categories %}
        <url>
            <loc>https://anikude.com{{url('catalog', kwargs={'filter': category.slug})}}</loc>
        </url>
    {% endfor %}
    {% for title in titles %}
        <url>
            <loc>https://anikude.com{{url('title', kwargs={'title': title.slug})}}</loc>
            <lastmod>{{title.sitemap_date}}</lastmod>
        </url>
    {% endfor %}
</urlset> 