{% extends 'web/base.jinja' %}

{% block styles %}
    {{get_static(static('web/css/flickity.css')) | safe}}
{% endblock styles %}
{% block styles_footer %}
{% endblock styles_footer %}
{% block scripts_footer %}
    <script src="{{ static('web/js/flickity.pkgd.min.js') }}"></script>
    <script src="{{ static('web/js/infinite-scroll.pkgd.min.js') }}"></script>
{% endblock scripts_footer %}


{% block meta %}
    <title>Смотреть аниме онлайн с русской озвукой в хорошем качестве на Anikude</title>
    <meta name="title" content="Смотреть аниме онлайн с русской озвукой в хорошем качестве на Anikude">
    <meta name="description" content="Посмотреть аниме онлайн в хорошем качестве с русской озвучкой можно у нас сайте Anikude">
    <meta name="keywords" content="аникуда,аниме,anikude,anime,anime online,anikude anime">
{% endblock meta %}

{% block content %}
    <div class="container">
        <div class="popular__wrapper">
            <div class="h4 text-center">Популярные</div>
            <div id="popupar_carousel" class="flickity-enabled">
                {% for title in populars %}
                    <div class="carousel-cell text-center">
                        <a href="{{title.url}}" title="{{title.name}}">
                            <img class="img-fluid" src="{{title.poster.url(200,200)}}" alt="{{title.name}}">
                            <span class="carousel-cell-text">
                                {{title.name}}
                            </span>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>

        {{latests}}

    </div>
    <script>
        $(document).ready(function(){

            var flkty = new Flickity( '#popupar_carousel', {
                wrapAround: true,
                //setGallerySize: false,
                autoPlay: 5000,
                pageDots: false,
                cellAlign: 'left',
            });
        });
    </script>
{% endblock content %}
    