<div class="latest__wrapper col-lg-6 flex-row" data-id="{{latest.id}}">
    <div class="latest__image d-flex flex-column align-items-center justify-content-center">
        <a href="{{ latest.url }}">
            <img class="latest_poster" src="{{latest.poster.url(225, 175)}}" alt="{{latest.name}}" latest="{{latest.name}}">
        </a>
        {% if latest.rate %}    
            <span title="Рейтинг аниме {{latest.name}}" class="latest_rate" latest="Рейтинг">{{ latest.rate }}</span>
        {% endif %}
    </div>
    <div class="latest_caption__wrapper">
        <div class="latest_caption">
            <div class="latest_caption_name">
                <p>
                    <a href="{{ latest.url }}">
                        <span>{{ latest.name }}</span>
                    </a>
                </p>
            </div>
            <div class="latest_caption_info">
                {% if latest.year %}
                    <p>
                        <strong>Год:&nbsp;</strong>
                        {{latest.year}}
                    </p>
                {% endif %}
                <p>
                    <strong>Кол-во эпизодов:&nbsp;</strong>
                    {% if latest.episodes_total_number %}
                        {{latest.last_episode}} из {{latest.episodes_total_number}}
                    {% else %}
                        {{latest.last_episode}}
                    {% endif %}
                </p>
    
                {% if latest.genres.count() %}
                    <p>
                        <strong>Жанры:&nbsp;</strong>
                        {% for genre in latest.genres.all() %}
                            <a href="{{url('catalog', kwargs={'filter': genre.slug})}}">{{genre.name}}</a>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>