<div id="latests__container" class="latests__wrapper mt-4">
        <div class="latests_header h4 text-center">
            Новое на сайте
        </div>
        <div class="row latests_list__wrapper">
            {% for latest in latests %}
                {{latest.render_to_latest()}}
            {% endfor %}
        </div>

    </div>
    {% if latests.has_next() %}
        <div class="row latests_load__wrapper justify-content-center">
            <button class="btn btn-primary latests_load inf_load_btn">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <span>Показать еще</span>
            </button>
            <a class="d-none" href="{{url('latests')}}?page={{latests.next_page_number()}}"></a>
        </div>
    {% else %}
        <a class="d-none" href=""></a>
    {% endif %}
    <script>
        $(document).ready(function(){
            var infScroll = new InfiniteScroll( '.latests_list__wrapper', {
                path: '.latests_load__wrapper > a',
                append: '.latest__wrapper',
                history: false,
                button: '.latests_load',
                scrollThreshold: false,
            });
            
            infScroll.on('load', ( event, response ) => {
                $(infScroll.options.button).addClass('loading')
            });
        })
    </script>