{% extends 'web/base.jinja' %}

{% block meta %}
    <title>Смотреть аниме онлайн с русской озвукой в хорошем качестве на Anikude</title>
    <meta name="title" content="Смотреть аниме онлайн с русской озвукой в хорошем качестве на Anikude">
    <meta name="description" content="Посмотреть аниме онлайн в хорошем качестве с русской озвучкой можно у нас сайте Anikude">
{% endblock meta %}

{% block content %}
    <div class="container">
        <div class="h4 text-center">Похоже, что у Вас нет доступа к интернету либо сервис временно недоступен</div>
    </div>
{% endblock content %}
    