{% extends 'web/base.jinja' %}

{% block meta %}
    <title>{{filter.meta_title }}</title>
    
    <meta name="title" content="{{filter.meta_title }}">
    <meta name="description" content="{{filter.meta_description }}">
    
    {% if not allow_index or titles.number > 1 %}
        <meta name="robots" content="noindex,follow">
    {% endif %}
    <link rel="canonical" href="{{request.path}}">
    {% if titles.has_previous() %}
        {% if titles.previous_page_number() == 1 %}
            <link rel="prev" href="{{request.path}}">
        {% else %}
            <link rel="prev" href="{{request.path}}?page={{titles.previous_page_number()}}">            
        {% endif %}
    {% endif %}
    {% if titles.has_next() %}
        <link rel="next" href="{{request.path}}?page={{titles.next_page_number()}}">            
    {% endif %}
{% endblock meta %}

{% block styles %}
    {{get_static(static('web/css/choices.min.css'))}}
{% endblock styles %}

{% block scripts_footer %}
    <script src="{{static('web/js/choices.min.js')}}"></script>
{% endblock scripts_footer %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8" id="titles__container">
                {% if titles %}
                    <div class="row" id="titles">
                        {% for title in titles %}
                            {{title.render_to_catalog()}}
                        {% endfor %}
                    </div>
                    <div class="row">
                        {{pagination}}
                    </div>
                {% else %}
                    <div class="h4 text-center">Упс, похоже, что сериалов нету...</div>
                {% endif %}
            </div>
            <div class="col-lg-4 position-relative">
                {{ filter.render() | safe }}
            </div>
                
            <div id="filter_preloader" class="preloader d-none"></div>
        </div>
    </div>
    <div class="d-lg-none mobile_filter_button Fixed">
        <a class="btn btn-primary" href="#mobile_filter" title="Открыть фильтр">Фильтр {{ f('filter') }} </a>
    </div>
{% endblock content %}
    