<div class="row">
    {% if titles %}
        {% for title in titles %}
            {{title.render_to_catalog()}}
        {% endfor %}
    {% else %}
        <h3>Упс, похоже, что сериалов нету...</h3>
    {% endif %}
</div>
<div class="row">
    {{ pagination }}
</div>