<div class="d-none d-lg-flex filter__container" id="desktop_filter"> 
    <div class="card text-white bg-primary w-100">
        <div class="card-header h3 text-center">Фильтр</div>

        <div class="card-body">
            <form id="filter_form">
                {% for f, filter_obj in filter.FILTERS %}
                    <div class="filter_item__wrapper">
                        <div class="filter_item_name">{{ filter_obj._meta.verbose_name_plural }}</div>

                        <div id="{{filter_obj.__name__}}" class="filter_item_select">
                            <select name="{{filter_obj.__name__}}" id="{{filter_obj.__name__}}_select" class="form-control filter__select" multiple placeholder="Выберите {{ filter_obj._meta.verbose_name_plural | lower }}">
                                {% for i in filter_obj.objects_for_select(filter.decoded[filter_obj.__name__]) %}
                                    <option value="{{i.value}}" {% if i.selected %}selected{% endif %}>{{i.label}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <script>
                        $(document).ready(function(){
                            new Choices('#{{filter_obj.__name__}}_select', {
                                duplicateItemsAllowed: false,
                                placeholderValue: 'Выберите {{ filter_obj._meta.verbose_name_plural | lower }}',
                                noResultsText: 'Нет результатов',
                                noChoicesText: 'Нет опций',
                                itemSelectText: '',
                                removeItemButton: true,
                            });
                        });
                    </script>
                {% endfor %}

                <div class="filter_item__wrapper">
                    <div class="filter_item_name">Сортировка по:</div>

                    <div id="sort_order_collapse" class="filter_item_select">
                        <select name="sort_order" id="sort_order_select" class="form-control filter__select" placeholder="Выберите параметр сортировки">
                            {% for i in filter.get_sorts() %}
                                <option value="{{i.value}}" {% if i.selected %}selected{% endif %}>{{i.label}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <script>
                    $(document).ready(function(){
                        new Choices('#sort_order_select', {
                            placeholder: 'Выберите параметр сортировки'
                        });
                    });
                </script>
            </form>
        </div>
    </div>
</div>

<div class="d-lg-none" id="mobile_filter">
    <div class="filter__container">
        <form id="filter_form">
            {% for f, filter_obj in filter.FILTERS %}
                <div class="filter_item__wrapper">
                    <div class="filter_item_name">{{ filter_obj._meta.verbose_name_plural }}</div>

                    <div id="{{filter_obj.__name__}}" class="filter_item_select">
                        <select name="{{filter_obj.__name__}}" id="mobile__{{filter_obj.__name__}}_select" class="form-control filter__select" multiple placeholder="Выберите {{ filter_obj._meta.verbose_name_plural | lower }}">
                            {% for i in filter_obj.objects_for_select(filter.decoded[filter_obj.__name__]) %}
                                <option value="{{i.value}}" {% if i.selected %}selected{% endif %}>{{i.label}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <script>
                    $(document).ready(function(){
                        new Choices('#mobile__{{filter_obj.__name__}}_select', {
                            duplicateItemsAllowed: false,
                            placeholderValue: 'Выберите {{ filter_obj._meta.verbose_name_plural | lower }}',
                            noResultsText: 'Нет результатов',
                            noChoicesText: 'Нет опций',
                            itemSelectText: '',
                            removeItemButton: true,
                        });
                    });
                </script>
            {% endfor %}

            <div class="filter_item__wrapper">
                <div class="filter_item_name">Сортировка по:</div>

                <div id="sort_order_collapse" class="filter_item_select">
                    <select name="sort_order" id="mobile__sort_order_select" class="form-control filter__select" placeholder="Выберите параметр сортировки">
                        {% for i in filter.get_sorts() %}
                            <option value="{{i.value}}" {% if i.selected %}selected{% endif %}>{{i.label}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <script>
                $(document).ready(function(){
                    new Choices('#mobile__sort_order_select', {
                        placeholder: 'Выберите параметр сортировки'
                    });
                });
            </script>
        </form>
    </div>
</div>

<script>
    $('.filter__select').on('change', function(e){
        console.log(123);
        var url = '';
        var sort = '-rate';
        var formData = new FormData($(this).parents('form')[0])
        formData.forEach((v,k) => {            
            if(k !== 'sort_order'){
                url += v + '/';
            }else if(k == 'sort_order' && v != '-rate'){
                sort = v;                
            }
        });

        $('#titles__container').html('');
        $('#filter_preloader').addClass('active');
        $('#filter_preloader').removeClass('d-none');
        
        fetch('/catalog/' + url + '?filter=1' + (sort ? '&sort=' + sort : ''))
        .then(response => response.text())
        .then(html => {
            setTimeout(function(){
                $('#titles__container').html(html);
                $('#filter_preloader').removeClass('active');
                setTimeout(function(){
                    $('#filter_preloader').addClass('d-none');
                }, 400);
                window.history.pushState('catalog', 'Каталог', '/catalog/' + url + ((sort && sort !== '-rate') ? '?sort=' + sort : ''));
            }, 200);
        })
        .catch(err => {});
        
    });
</script>

<script>
    document.addEventListener(
        "DOMContentLoaded", () => {
            new Mmenu( "#mobile_filter", {
                navbar: {
                    title: 'Фильтр'
                },
                
                extensions: [
                    'pagedim-black',
                    'position-right'
                ],
            }, {
                transitionDuration: 200,
            });
        }
    );
</script>