<div class="title__wrapper col-sm-12 flex-row" data-id="{{title.id}}">
    <div class="title__image d-flex flex-column align-items-center justify-content-center">
        <a href="{{ url('title', kwargs={'title': title.slug}) }}">
            <img class="title_poster" src="{{title.poster.url(225, 175)}}" alt="{{title.name}}" title="{{title.name}}">
        </a>
        {% if title.rate %}    
            <span title="Рейтинг аниме {{title.name}}" class="title_rate" title="Рейтинг">{{ title.rate }}</span>
        {% endif %}
    </div>
    <div class="title_caption__wrapper">
        <div class="title_caption">
            <div class="title_caption_name">
                <p>
                    <a href="{{ url('title', kwargs={'title': title.slug}) }}">
                        <span>{{ title.name }}</span>
                    </a>
                </p>
            </div>
            <div class="title_caption_info">
                {% if title.year %}
                    <p>
                        <strong>Год:&nbsp;</strong>
                        {{title.year}}
                    </p>
                {% endif %}
                <p>
                    <strong>Кол-во эпизодов:&nbsp;</strong>
                    {% if title.episodes_total_number %}
                        {{title.last_episode}} из {{title.episodes_total_number}}
                    {% else %}
                        {{title.last_episode}}
                    {% endif %}
                </p>
    
                {% if title.genres.count() %}
                    <p>
                        <strong>Жанры:&nbsp;</strong>
                        {% for genre in title.genres.all() %}
                            <a href="{{url('catalog', kwargs={'filter': genre.slug})}}">{{genre.name}}</a>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>