<div class="row profile_user_lists__row">
    <div class="col-md-3 d-flex justify-content-center">
        <a href="{{ url('title', kwargs={'title': title.slug}) }}">
            <img class="img-fluid" src="{{title.poster.url(50)}}" alt="{{title.name}}" title="{{title.name}}">
        </a>
    </div>
    <div class="col-md-5 d-flex align-items-center justify-content-center justify-content-md-start">
        <a href="{{ url('title', kwargs={'title': title.slug}) }}">{{ title.name }}</a>
    </div>
    <div class="col-md-4 d-flex align-items-center justify-content-center">
        <div class="btn-group btn-group-sm">
            {% if list == 'watching' %}
                <a href="javascript:void(0);" class="btn btn-warning plta" data-toggle="tooltip" title="Перенести в Заброшеные" data-href="{{ url('title_move_to_lost') }}" data-title-id="{{title.id}}" onclick="plta($(this))">{{f('eye-slash')}}</a>
            {% elif list == 'lost' %}
                <a href="javascript:void(0);" class="btn btn-success plta" data-toggle="tooltip" title="Перенести в Смотрю" data-href="{{url('title_move_to_watching') }}" data-title-id="{{title.id}}"  onclick="plta($(this))">{{f('eye')}}</a>
            {% endif %}
            <a href="javascript:void(0);" class="btn btn-danger plta" data-toggle="tooltip" title="Удалить со списка" data-href="{{url('title_list_remove') }}" data-title-id="{{title.id}}" data-list="{{list}}" onclick="plta($(this))">{{f('times')}}</a>
        </div>
    </div>
</div>
