{% extends 'web/base.jinja' %}

{% block meta %}
    <meta name="robots" content="noindex,follow">
    <title>Поиск по - {{q}}</title>
{% endblock meta %}

{% block content %}
    <div class="container"> 
        <div id="titles__container">
            {% if titles %}
                <div class="row">
                    {% for title_data in titles %}
                        {{title_data.title.render_to_catalog()}}
                    {% endfor %}
                </div>
                <div class="row">
                    {{ pagination }}
                </div>
            {% else %}
                <div class="h4 text-center">Упс, похоже, что сериалов нету...</div>
            {% endif %}
        </div>
        <div id="filter_preloader" class="preloader d-none"></div>
    </div>

    <script>
        $('.title__wrapper a').on('click', function(e){
            fetch('{{url("search_backprop")}}', {
                body: new URLSearchParams({q: getUrlVar('q'), title_id: $(this).parents('.title__wrapper').data('id'), csrfmiddlewaretoken: csrftoken}).toString(),
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                method: 'post'
            });
        });
    </script>
{% endblock content %}
    