{% extends 'web/base.jinja' %}

{% block meta %}
    <meta name="robots" content="noindex,follow">
    <title>Восстановление пароля</title>
{% endblock meta %}

{% block content %}
    <div class="container profile_form">
        <form action="{{ url('password_reset_confirm', kwargs={'token': password_reset.token}) }}" method="POST" class="needs-validation">
            {% csrf_token %}
            {{ form }}
            <div class="d-flex flex-column align-items-center">
                <button type="submit" class="btn btn-primary">Изменить пароль</button>
            </div>
        </form>
    </div>
{% endblock content %}
