<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Запрос на восстановление пароля на Anikude.com</title>
</head>
<body style="margin: 0;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #212529;
text-align: left;
background-color: #fff;">
    <div style="padding: 2rem 1rem;
    background-color: #e9ecef;
    border-radius: 0.3rem;">
        <div style="width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;">
            <p style="font-size: 2rem;
            font-weight: 300;
            line-height: 1.2; margin: 0.5rem auto; color:#212529;">Запрос на восстановление пароля</p>
            <p style="font-size: 1.25rem;
            font-weight: 300;color:#212529;">Вы выполнили запрос на восстановление пароля аккаунта на <a style="color: #ac7b84;
            text-decoration: none;
            background-color: transparent;
            -webkit-text-decoration-skip: objects;" href="{{request.build_absolute_uri('/')}}">Anikude.com</a>. Для завершения восстановление нажмите на кнопку или перейдите по ссылке ниже:</p>
            <p style="color:#212529;">
                <a style="color: #ac7b84;
                    text-decoration: none;
                    background-color: transparent;
                    -webkit-text-decoration-skip: objects;display: inline-block;
                    font-weight: 400;
                    text-align: center;
                    white-space: nowrap;
                    vertical-align: middle;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    border: 1px solid transparent;
                    padding: 0.375rem 0.75rem;
                    font-size: 1rem;
                    line-height: 1.5;
                    border-radius: 0.25rem;
                    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;color: #fff;
                    background-color: #ac7b84;
                    border-color: #ac7b84;" href="{{request.build_absolute_uri(url('password_reset_confirm', kwargs={'token': password_reset.token}))}}">Завершить восстановление</a>
            </p>
            <p style="color:#212529;"><small style="color: #6c757d !important;"><a style="color: #ac7b84;
                text-decoration: none;
                background-color: transparent;
                -webkit-text-decoration-skip: objects;" href="{{request.build_absolute_uri(url('password_reset_confirm', kwargs={'token': password_reset.token}))}}">{{request.build_absolute_uri(url('password_reset_confirm', kwargs={'token': password_reset.token}))}}</a></small></p>
            <p style="color:#212529;"><small class="text-muted">Если Вы запрашивали восстановление пароля на Anikude.com - пожалуйста, проигнорируйте данное письмо</small></p>
        </div>
    </div>
</body>
</html>
