{% extends 'web/base.jinja' %}

{% block meta %}
    <meta name="robots" content="noindex,follow">
    <title>Запрос на восстановление пароля</title>
{% endblock meta %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <p class="display-5">Восстановление пароля</p>
            <p class="lead">Запрос устарел. Попробуйте еще раз</p>
            <p><small class="text-muted">При возникновении вопросов или проблем с восстановлением - просьба написать на почту <strong><a href="mailto:support@anikude.com">support@anikude.com</a></strong></small></p>
            <hr class="my-4">
            <p><a class="btn btn-primary" href="{{url('password_reset')}}" role="button">Восстановить пароль</a></p>
        </div>
    </div>
{% endblock content %}
    