{% extends 'web/base.jinja' %}

{% block meta %}
    <title>Обновления аниме | Anikude.com</title>
{% endblock meta %}

{% block scripts_footer %}
    <script src="{{ static('web/js/infinite-scroll.pkgd.min.js') }}"></script>
{% endblock scripts_footer %}

{% block content %}
    <div class="container"> 
        <div class="updates__wrapper">
            <div class="update_header h4 text-center">
                Обновления
            </div>
            <div class="update_list__wrapper">
                {% for update in updates %}
                    {{update.render()}}
                {% endfor %}
            </div>

            {% if updates.has_next() %}
                <div class="updates_load__wrapper text-center">
                    <button class="btn btn-primary update_load inf_load_btn">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <span>Показать еще</span>
                    </button>
                    <a href="{{url('updates')}}?page={{updates.next_page_number()}}" class="d-none"></a>
                </div>
            {% else %}
                <a href="" class="d-none"></a>
            {% endif %}
            
        </div>
    </div>
<script>
    $(document).ready(function(){
        var infScroll = new InfiniteScroll( '.update_list__wrapper', {
            path: '.updates_load__wrapper > a',
            append: '.update__wrapper',
            history: false,
            button: '.update_load',
            scrollThreshold: false,
        });
        
        infScroll.on('load', ( event, response ) => {
            $(infScroll.options.button).addClass('loading')
        });
    });
</script>
{% endblock content %}
    
