<div class="update__wrapper d-flex flex-row align-items-center">
    <div class="update_date text-nowrap">
        {{update.render_date()}}
    </div>
    <div>
        <a class="update_item d-flex flex-row align-items-center" href="{{update.translation.title.url}}">
            <div class="update_image">
                <img src="{{update.translation.title.poster.url(100, 100)}}" alt="{{update.translation.title.name}}" title="{{update.translation.title.name}}">
            </div>
            <div class="update_text">
                {% if update.translation.title.type == update.translation.title.TYPE_MOVIE %}
                    {{update.translation.title.name}} [<strong>{{update.translation.translator.name}}</strong>] Добавлен полнометражный фильм
                {% else %}  
                    {% if update.added_episodes %}
                        {{update.translation.title.name}} [<strong>{{update.translation.translator.name}}</strong>] Добавлено <strong>{{update.added_episodes}}</strong> эпизод(ы)
                    {% else %}
                        {{update.translation.title.name}} [<strong>{{update.translation.translator.name}}</strong>] Добавлено новый(е) эпизод(ы)
                    {% endif %}
                {% endif %}
            </div>
        </a>
    </div>
</div>