{% if widget.type == 'date' %}
    <input class="form-control" type="text" name="{{widget.name}}" value="{% if widget.value %}{{widget.value}}{% endif %}" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" {% include "django/forms/widgets/attrs.html" %}>
    <script>
        $(document).ready(() => {
            new Pikaday({
                field: document.querySelector('[name="{{widget.name}}"]'),
                format: 'YYYY-MM-DD',
                toString(date, format) {
                    const day = date.getDate();
                    const month = date.getMonth() + 1;
                    const year = date.getFullYear();
                    return `${year}-${month}-${day}`;
                },
            });  
        });
    </script>
{% else %}
    <input class="form-control" type="{{widget.type}}" name="{{widget.name}}" value="{% if widget.value %}{{widget.value}}{% endif %}" {% include "django/forms/widgets/attrs.html" %}>
{% endif %}

