{% if form.validation_error %}
    <div class="alert alert-danger">{{form.validation_error}}</div>
{% endif %}

{% for field in form.get_fields() %}

    <div class="form-group">
        <label for="{{field.name}}">{{field.label}}</label>
        {{field}}
        {% if field.errors %}
            <div class="invalid-feedback">{{field.errors.as_text()}}</div>    
        {% endif %}
    </div>
{% endfor %}
<script>
$(document).ready(function(){
    $('form').find('.invalid-feedback').parent('.form-group').find('input,select,file,textarea').addClass('is-invalid');
});
</script>