{% extends 'web/base.jinja' %}

{% block meta %}
    <meta name="robots" content="noindex,follow">
    <title>Редактировать аккаунт</title>
{% endblock meta %}

{% block content %}
<div class="container">
    <div class="profile__wrapper">
        <div class="row">
            <div class="col-md-6">
                <legend class="text-center">Обновить аватар</legend>
                <p class="d-flex justify-content-center">
                    <img class="img-fluid rounded" id="new_image" data-original="{{user.image.url(300)}}" src="{{user.image.url(300)}}" alt="">
                    <div class="d-none flex-column align-items-center">
                        <div><strong>Превью</strong></div>
                        <div class="rounded" id="new_image_preview"></div>
                    </div>
                </p>
                <p>
                    <div class="d-flex justify-content-around">
                        <button id="new_image_delete" class="btn btn-primary" data-toggle="tooltip" title="Удалить аватар" data-placeholder="{{user.image.placeholder(300)}}">{{f('trash')}} <span class="">Удалить</span></button>

                        <label for="new_image_file" class="btn btn-primary m-0" data-toggle="tooltip" title="Загрузить фото/картинку">
                            {{f('upload')}} <span class="">Загрузить</span>
                            <form method="POST" enctype="multipart/form-data" id="new_image_form">
                                {% csrf_token %}
                                <input class="d-none" accept=".jpg,.png" type="file" name="new_image" id="new_image_file">  
                            </form> 
                        </label>
                        <button id="new_image_cancel" class="d-none btn btn-primary" data-toggle="tooltip" title="Отменить">{{f('times')}} <span class="">Отменить</span></button>
                        <button id="new_image_save" class="d-none btn btn-primary" data-toggle="tooltip" title="Сохранить аватар">{{f('save')}} <span class="">Сохранить</span></button>
                    </div>
                </p>
            </div>
            <div class="col-md-6">
                <legend class="text-center">Обновить данные</legend>
                <form method="POST" action="{{ url('profile_change_info') }}">
                    {% csrf_token %}
                    {{change_info_form}}
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Обновить</button>
                    </div>
                </form>
                <br>
                <legend class="text-center">Обновить пароль</legend>
                <form method="POST" action="{{ url('profile_change_password') }}">
                    {% csrf_token %}
                    {{change_password_form}}
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Обновить пароль</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    
    $(document).ready(function(){
        
        $('#new_image_file').on('change', function(e){
            var temp_path = URL.createObjectURL(event.target.files[0]);;

            $('#new_image_preview').parent().removeClass('d-none').addClass('d-flex');
            $('#new_image_save').removeClass('d-none');
            $('#new_image_cancel').removeClass('d-none');
            $('#new_image_delete').addClass('d-none');
                
            var new_image = document.querySelector('#new_image');
            new_image.src = temp_path;
            if(new_image.cropper){
                new_image.cropper.destroy();
            }
            new_image.cropper = new Cropper(document.querySelector('#new_image'), {
                'aspectRatio': 1/1,
                'preview': '#new_image_preview',
                'dragMode': 'move',
                'toggleDragModeOnDblclick': false,
            });
        });

        $('#new_image_delete').on('click', function(){
            if(confirm('Вы уверены, что хотите удалить аватар?')){
                that = this;
                fetch('{{url("profile_delete_image")}}')
                .then(response => response.json())
                .then(json => {
                    if(json['error']){
                        Notice.add(json['error'], 'danger');
                    }else{
                        Notice.add(json['success'], 'success');
                        $('#new_image').attr('src', $(that).data('placeholder'));
                    }
                })
                .catch(err => {});
            }
        });

        $('#new_image_cancel').on('click', function(){
            new_image = document.querySelector('#new_image');
            if(new_image.cropper){
                new_image.cropper.destroy();
            }
            $('#new_image').attr('src', $('#new_image').data('original'));
            
            $('#new_image_preview').parent().addClass('d-none').removeClass('d-flex');
            $('#new_image_save').addClass('d-none');
            $('#new_image_cancel').addClass('d-none');
            $('#new_image_delete').removeClass('d-none');
            $('#new_image_file').val(null);
        });

        $('#new_image_save').on('click', function(){
            if(!($('#new_image_file')[0].files && $('#new_image_file')[0].files[0])){
                Notice.add('Произошла ошибка. Попробуйте еще раз', 'danger')
            }else{
                var form = $('#new_image_form')[0];
                var data = new FormData(form);

                new_image = document.querySelector('#new_image');
                crop_data = new_image.cropper.getData();
                data.append('pos', [crop_data.x, crop_data.y, crop_data.x + crop_data.width, crop_data.y + crop_data.width]);

                fetch('{{url("profile_update_image")}}', {
                    body: data,
                    method: 'post'
                })
                .then(response => response.json())
                .then(json => {
                    if(json['error']){
                        Notice.add(json['error'], 'danger');
                    }else{
                        Notice.add(json['success'], 'success');
                        new_image.cropper.destroy();
                        $('#new_image').attr('src', json['image']);
                        $('#new_image_preview').parent().addClass('d-none').removeClass('d-flex');
                        $('#new_image_save').addClass('d-none');
                        $('#new_image_cancel').addClass('d-none');
                        $('#new_image_delete').removeClass('d-none');
                        $('#new_image_file').val(null);   
                    }
                })
                .catch(err => {});
            }
        });
    })
</script>
{% endblock content %}

{% block styles %}
    {{get_static(static('web/css/cropperjs/cropper.min.css'))}}
    {{get_static(static('web/css/pikaday.css'))}}
{% endblock styles %}

{#
{% block styles_footer %}
<link rel="stylesheet" href="{{static('web/css/cropperjs/cropper.min.css')}}">
<link rel="stylesheet" href="{{static('web/css/pikaday.css')}}">
{% endblock styles_footer %}
#}
{% block scripts_footer %}
<script src="{{static('web/js/vendor/cropperjs/cropper.min.js')}}"></script>
<!-- <script src="{{static('web/js/vendor/cropperjs/jquery-cropper.min.js')}}"></script> -->
<script src="{{static('web/js/pikaday.js')}}"></script>

{% endblock scripts_footer %}