{% extends 'web/base.jinja' %}

{% block meta %}
    <meta name="robots" content="noindex,follow">
    <title>Войти в аккаунт</title>
{% endblock meta %}

{% block content %}
    <div class="container profile_form">
        <form action="{{ url('login') }}" method="POST" class="needs-validation">
            {% csrf_token %}
            {{ form }}
            <div class="d-flex flex-column align-items-center">
                <button type="submit" class="btn btn-primary">Войти</button>
                <br>
                <a href="{{url('register')}}">Зарегистрироваться</a>
                <a href="{{url('password_reset')}}">Восстановить пароль</a>
            </div>
        </form>
    </div>
{% endblock content %}
