{% extends 'web/base.jinja' %}

{% block meta %}
    <meta name="robots" content="noindex,follow">
    <title>Уведомления</title>
{% endblock meta %}

{% block content %}
<div class="container">
    <div class="notifications__wrapper">
        <div class="notification_header">
            <div class="h3 text-center">Уведомления</div>
            {% if notifications %}
                <div class="controls">
                    <button class="btn btn-primary btn-sm read">{{f('check-double')}} Отметить все как прочитанные</button>
                    <button class="btn btn-primary btn-sm delete">{{f('trash')}} Удалить все</button>
                </div>
            {% endif %}
        </div>
        <div class="notification_list__wrapper">
            {% if notifications %}
                <table class="notifications_list table table-responsive table-borderless table-sm">
                    <thead>
                        <th class=" d-none d-sm-table-cell">Тип</th>
                        <th>Дата</th>
                        <th>Текст</th>
                        <th></th>
                    </thead>
                    <tbody>
                        {% for notification in notifications %}
                            <tr class="notification_item {% if not notification.read %}table-primary{% endif %}">
                                <td class="notification_type d-none d-sm-table-cell">{{notification.type_text}}</td>
                                <td class="notification_date">{{notification.date_text|safe}}</td>
                                <td class="notification_text">
                                    {% if notification.translation.title.type == notification.translation.title.TYPE_FILM %}
                                        <a href="{{notification.translation.title.url}}">
                                            {{notification.translation.title.name}} [<strong>{{notification.translation.translator.name}}</strong>] Добавлен полнометражный фильм
                                        </a>
                                    {% else %}
                                        <a href="{{notification.translation.title.url}}">
                                            {{notification.translation.title.name}} [<strong>{{notification.translation.translator.name}}</strong>]
                                            Добавлено
                                            {% if notification.episodes %}
                                                {{notification.episodes}}
                                            {% else %}
                                                новый(е)
                                            {% endif %}
                                            эпизод(ы)
                                        </a>
                                    {% endif %}
                                </td>
                                <td class="notification_controls">
                                    {% if not notification.read %}
                                        <button class="btn btn-primary btn-sm read" title="Отметить как прочитанные" data-toggle="tooltip" data-id="{{notification.id}}">{{f('check-double')}}</button>
                                    {% endif %}
                                    <button class="btn btn-primary btn-sm delete" data-id="{{notification.id}}" data-toggle="tooltip" title="Удалить">{{f('trash')}}</button>
                                </td>
                            </tr>  
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="h5 text-center">Новых уведомлений нет</div>
            {% endif %}
        </div>
    </div>
</div>
    
<script>
    $('.notification_controls .read').on('click', function(){
        data = {csrfmiddlewaretoken: csrftoken, id: $(this).data('id')}
        that = this;
        fetch('{{url("notification_read")}}', {
            body: new URLSearchParams(data).toString(),
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            method: 'post'
        })
        .then(response => response.json())
        .then(json => {
            if(json['error']){
                Notice.add(json['error'], 'danger');
            }else{
                Notice.add(json['success'], 'success');
                $(that).parents('.notification_item').removeClass('table-primary');
                if(json['total_unread_left'] > 0){
                    $('.notification_number').html(json['total_unread_left']);
                }else if(json['total_unread_left'] == 0 ){
                    $('.notification_number').remove();
                }
                $('.tooltip').remove();
            }
        })
        .catch(err => {});
    });

    $('.notification_controls .delete').on('click', function(){
        data = {csrfmiddlewaretoken: csrftoken, id: $(this).data('id')}
        that = this;
        fetch('{{url("notification_delete")}}', {
            body: new URLSearchParams(data).toString(),
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            method: 'post'
        })
        .then(response => response.json())
        .then(json => {
            if(json['error']){
                Notice.add(json['error'], 'danger');
            }else{
                Notice.add(json['success'], 'success');
                $(that).parents('.notification_item').fadeOut(200, function(){
                    $(that).parents('.notification_item').remove();
                    $('.tooltip').remove();
                });

                if(json['total_unread_left'] > 0){
                    $('.notification_number').html(json['total_unread_left']);
                }else if(json['total_unread_left'] == 0 ){
                    $('.notification_number').remove();
                }

                if(json['total_left'] == 0 ){
                    $('.notifications_list').fadeOut(200, function(){
                        $('.notifications_list').remove();
                    });
                    $('.notification_header .controls').fadeOut(200, function(){
                        $('.notification_header .controls').remove();
                        $('.notification_list__wrapper').append('<div class="h5 text-center">Новый уведомлений нет</div>');
                    });
                }
                
                $('.tooltip').remove();
            }
        })
        .catch(err => {});
    });

    $('.notification_header .controls .read').on('click', function(){
        fetch('{{url("notification_read_all")}}', {
            body: new URLSearchParams({csrfmiddlewaretoken: csrftoken}).toString(),
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            method: 'post'
        })
        .then(response => response.json())
        .then(json => {
            if(json['error']){
                Notice.add(json['error'], 'danger');
            }else{
                Notice.add(json['success'], 'success');
                $('.notification_item').removeClass('table-primary');
                $('.notification_number').remove();
                $('.tooltip').remove();
            }
        })
        .catch(err => {});
    });

    $('.notification_header .controls .delete').on('click', function(){
        fetch('{{url("notification_delete_all")}}', {
            body: new URLSearchParams({csrfmiddlewaretoken: csrftoken}).toString(),
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            method: 'post'
        })
        .then(response => response.json())
        .then(json => {
            if(json['error']){
                Notice.add(json['error'], 'danger');
            }else{
                Notice.add(json['success'], 'success');
                $('.notifications_list').fadeOut(200, function(){
                    $('.notifications_list').remove();
                });
                $('.notification_header .controls').fadeOut(200, function(){
                    $('.notification_header .controls').remove();
                    $('.notification_list__wrapper').append('<div class="h5 text-center">Новый уведомлений нет</div>');
                });
                $('.notification_number').remove();
                $('.tooltip').remove();
            }
        })
        .catch(err => {});
    });

</script>
{% endblock content %}