{% extends 'web/base.jinja' %}

{% block meta %}
    <meta name="robots" content="noindex,follow">
    <title>Информация о аккаунте</title>
{% endblock meta %}

{% block content %}
<div class="container">
    <div class="profile__wrapper">
        <div class="row">
            <div class="col-md-4">
                <div class="profile_image__wrapper text-center">
                    <img class="img-fluid rounded" src="{{user.image.url(300)}}" alt="">
                </div>
            </div>
            <div class="col-md-8">
                <div class="table table-borderless">
                <table>
                    <tr>
                        <td><strong>{{user._meta.get_field('date_joined').verbose_name[0].upper() + user._meta.get_field('date_joined').verbose_name[1:]}}:</strong></td>
                        <td>{{user.get_date_joined}}</td>
                    </tr>
                    <tr>
                        <td><strong>{{user._meta.get_field('birth_date').verbose_name}}:</strong></td>
                        <td>{{user.get_birth_date}}</td>
                    </tr>
                    <tr>
                        <td><strong>{{user._meta.get_field('gender').verbose_name}}:</strong></td>
                        <td>{{user.get_gender}}</td>
                    </tr>
                </table>
                </div>
            </div>
        </div>
        <div class="row profile_user_lists__wrapper">
            {{user.render_user_lists()}}
        </div>
    </div>
</div>
    
<script>
    function plta(that){
        fetch($(that).data('href'), {
            body: new URLSearchParams({'title': $(that).data('title-id'), 'list': $(that).data('list'), 'csrfmiddlewaretoken':csrftoken}).toString(),
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            method: 'post'
        })
        .then(response => response.json())
        .then(json => {
            if(json['error']){
                Notice.add(json['error'], 'danger');
            }else if(json['success']) {
                Notice.add(json['success'], 'success');
                $('.tooltip').remove();
                $('.profile_user_lists__wrapper').html(json['html']);
                BSN.initCallback();
            }
        })
        .catch(err => {});
    }
</script>
{% endblock content %}