{% extends 'web/base.jinja' %}

{% block meta %}
    <meta name="robots" content="noindex,follow">
    <title>Зарегистрировать аккаунт</title>
{% endblock meta %}

{% block content %}
    <div class="container profile_form">
        <form action="{{ url('register') }}" method="POST" class="needs-validation">
            {% csrf_token %}
            {{ form }}
            <div class="d-flex flex-column align-items-center">
                <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                <br>
                <a href="{{url('login')}}">У меня уже есть аккаунт</a>
            </div>
        </form>
    </div>
{% endblock content %}
    