<div class="col-sm-12">
    <ul class="nav nav-tabs justify-content-center">
        {% for item in user.user_lists() %}
            <li class="nav-item d-none d-md-flex">
                <a class="nav-link{% if active == item.list or (active == None and loop.first) %} active{% endif %}" data-toggle="tab" href="#{{item.list}}">{{item.text}}</a>
            </li>
        {% endfor %}
        <li class="nav-item dropdown d-md-none">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Список</a>
            <div class="dropdown-menu">
                {% for item in user.user_lists() %}
                    <a class="dropdown-item" data-toggle="tab" href="#{{item.list}}">{{item.text}}</a>
                {% endfor %}
            </div>
        </li>
    </ul>
        
    <div class="tab-content">
        {% for item in user.user_lists() %}
            <div class="tab-pane container fade{% if active == item.list or (active == None and loop.first) %} active show{% endif %}" id="{{item.list}}">
                {% if user[item.list].count() %}
                    {% for title in user[item.list].all() %}
                        {% if not loop.first %}
                            <hr>
                        {% endif %}
                        {{title.render_to_profile_list(item.list)}}
                    {% endfor %}
                {% else %}
                    <div class="row profile_user_lists__row">
                            <div class="alert alert-dismissible alert-info w-100">
                            <strong>Ой! </strong>Список пуст... <a href="{{url('catalog')}}" class="alert-link"></a>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>