{% extends 'web/base.jinja' %}

{% block meta %}
    <meta name="robots" content="noindex,follow">
    <title>Профиль пользователя {{user_profile.username}}</title>
{% endblock meta %}

{% block content %}
<div class="container">
    <div class="profile__wrapper">
        <div class="h4 text-center">Профиль пользователя {{user_profile.username}}</div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile_image__wrapper text-center">
                    <img class="img-fluid rounded" src="{{user_profile.image.url('300')}}" alt="">
                </div>
            </div>
            <div class="col-md-8">
                <div class="table table-borderless">
                <table>
                    <tr>
                        <td><strong>{{user_profile._meta.get_field('date_joined').verbose_name[0].upper() + user_profile._meta.get_field('date_joined').verbose_name[1:]}}:</strong></td>
                        <td>{{user_profile.get_date_joined}}</td>
                    </tr>
                    <tr>
                        <td><strong>{{user_profile._meta.get_field('birth_date').verbose_name}}:</strong></td>
                        <td>{{user_profile.get_birth_date}}</td>
                    </tr>
                    <tr>
                        <td><strong>{{user_profile._meta.get_field('gender').verbose_name}}:</strong></td>
                        <td>{{user_profile.get_gender}}</td>
                    </tr>
                </table>
                </div>
            </div>
        </div>
        {#<div class="row profile_user_lists__wrapper">
            {{user_profile.render_user_lists()}}
        </div>#}
    </div>
</div>
{% endblock content %}