$blue: rgb(172, 123, 132);
$green: rgb(198, 216, 175);
$red: rgb(218, 98, 125);
$yellow: #F2C14E;
$cyan: #D1CCDC;
$dark: rgb(43, 43, 61);
$dark-half: rgba(43, 43, 61, 0.5);
$primary: $blue;
$secondary: rgb(35, 61, 77);
$grid-gutter-width: 20px;
$grid-breakpoints: (xs: 0, sm: 601px, md: 818px, lg: 1092px, xl: 1400px);
$container-max-widths: (sm: 575px, md: 790px, lg: 1060px, xl: 1270px);

@font-face {
    font-family: 'zcool';
    src: url(/static/web/fonts/ZCOOLKuaiLe-Regular.ttf);
}
html{
    // min-height: 2000px;
}
body{
    min-width:320px;
    font-size: 1rem !important;
    position: relative;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: rgba(252, 252, 255, 1);
    .toast {
        z-index: 1100;
        position: fixed;
        bottom: 10px;
        right: 10px;
        margin: 0 !important;
        background: $dark;
        color: white;
        transition: opacity .15s linear;
        .toast-header{
            background: $dark;
        }
        .toast-icon{
            position: absolute;
            display: block;
            top: 5px;
            right: 7.5px;
        }
        .toast-body{
            padding-right: 25px;
        }
    }
}
main{
    flex: 1;
}
.display-5 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}
.characters{
    font-family: 'zcool', cursive;
    font-weight: 100;
    font-size: 1.75rem;
}
.footer{
    margin-top: 20px;
    padding: 10px;
}
#content{
    margin-top: 75px;
}

.mm-menu {
    --mm-color-background: rgb(43, 43, 61);
    --mm-color-text: rgba(255,255,255,.7);
    --mm-color-background-highlight: rgba(255,255,255,.9);
    --mm-color-text-dimmed: rgba(255,255,255,.7);
    --mm-color-button: rgba(255,255,255,.7);
    --mm-color-border: rgba(255,255,255,.05);
    --mm-color-background-emphasis: rgb(172, 123, 132);
    .mm-searchfield{
        display: initial !important;
        input{
            color: #495057;
        }
        .mm-btn:after, .mm-btn:before{
            border-color: #495057;
        }
    }
}
.mm-page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar-toggler{
    .notification_number{
        position: absolute;
        left: -10px;
        top: 8px;
    }
}
header{
    .navbar{
        .navbar-brand{
            font-size: 1.45rem;
            margin-right: 85px;
            height: 40px;
        }
        .navbar-nav {
            flex-wrap: nowrap;
        }
        .nav-link{
            text-align: center;
        }
        .navbar-toggler{
            position: absolute;
            left: 10px;
            border: none;
            top: 8.5px;
            z-index: 1000;
        }
        .container, .container-fluid {
            display: block;
        }
        .logo{
            background: url('/static/images/logo_sq.svg') no-repeat center;
            width: 75px;
            height: 75px;
            position: absolute;
            top: -8px;
            border-radius: 5px;
        }
    }
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #ddd;
}

*::-webkit-scrollbar-thumb {
    background:$dark; 
    border: 1px solid rgba(0,0,0,0.1);

}
.popular__wrapper{
    .no-js .owl-carousel, .owl-carousel.owl-loaded {
        display: flex;
        flex-direction: column-reverse;
    }

    .owl-carousel{
        
        .owl-item{
            img{
                width: auto;
                margin: 0 auto;
                max-height: 200px;
            }
        }

        .owl-dots{
            text-align: center;
            margin-bottom: 10px;
            button.owl-dot{
                background: 0 0;
                border: 1px solid $dark-half;
                padding: 5px !important;
                border-radius: 50%;
                font: inherit;
                margin: 0 5px;
                transition: .2s all linear;
                outline: none;
            }
            button.owl-dot.active{
                background: $primary;
                transition: .2s all linear;
            }
        }
    }
}
#titles__container, .profile_user_lists__wrapper{
    .title__wrapper{
        text-align: center;
        display: flex;
        padding: 10px;
        position: relative;

        .title_poster{
            height: 175px;
            width: 135px;
        }

        .title_caption__wrapper{
            height: 100%;
            width:100%;
            display: flex;
            padding: 0 10px;
            flex-direction: column;
            justify-content: flex-start;
            text-align: left;
            .title_caption_name{
                font-weight: 600;
                font-size: 1.15rem;
            }
            .title_caption_info{
                strong{
                    font-weight: 600;
                }
                p{
                    margin-bottom: 0.5rem;
                }
            }

            hr{
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
            }
        }

        .title_rate{
            padding: 0px 0.25rem;
            font-size: 1.25rem;
            background-color: #ac7b84;
            color: white;
            border-radius: 5px;
            font-weight: 600;
            cursor: pointer;
            width: 50px;
            text-align: center;
            position: absolute;
            top: 150px;
            border: 1px solid rgba(43, 43, 61, 0.3);
        }
    }
}

#latests__container{
    .latest__wrapper{
        text-align: center;
        display: flex;
        padding: 10px;
        position: relative;

        .latest_poster{
            height: 175px;
            width: 135px;
        }

        .latest_caption__wrapper{
            height: 100%;
            width:100%;
            display: flex;
            padding: 0 10px;
            flex-direction: column;
            justify-content: flex-start;
            text-align: left;
            .latest_caption_name{
                font-weight: 600;
                font-size: 1.15rem;
            }
            .latest_caption_info{
                strong{
                    font-weight: 600;
                }
                p{
                    margin-bottom: 0.5rem;
                }
            }

            hr{
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
            }
        }

        .latest_rate{
            padding: 0px 0.25rem;
            font-size: 1.25rem;
            background-color: #ac7b84;
            color: white;
            border-radius: 5px;
            font-weight: 600;
            cursor: pointer;
            width: 50px;
            text-align: center;
            position: absolute;
            top: 150px;
            border: 1px solid rgba(43, 43, 61, 0.3);
        }
    }
}

.mobile_filter_button{
    position: fixed;
    transform: rotate(-90deg);
    top: 95px;
    right: -30px;
    .btn{
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}
.mm-wrapper_opening .mm-menu_position-right.mm-menu_opened~.mobile_filter_button.mm-slideout {
    transform: rotate(-90deg) translate3d(0, -80vw, 0);
}
@media (min-width: 550px){
    .mm-wrapper_opening .mm-menu_position-right.mm-menu_opened~.mobile_filter_button.mm-slideout {
        transform: rotate(-90deg) translate3d(0, -440px, 0);
    }
}

#desktop_filter.filter__container{
    margin: 0px -10px;
    position: sticky;
    top: 65px;
    select[name="sort_order"]{
        font-size: 14px;
        // padding
    }
}
#mobile_filter #filter_form{
    padding: 10px;
    .filter_item_name{
        margin-bottom: 2.5px;
    }
}

.filter__container{
    .filter_item__wrapper{
        padding: 0px 0px 10px;
    }
    .filter_item_name{
        
    }
    .filter_item_select{
        
    }   
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 30px;
    }
    .select2-container .select2-selection--single {
        height: 34px;
    }
    .filter__select{
        max-height: 37px;
    }
}

.profile_form{
    max-width: 600px;
}

.profile__wrapper{
    #new_image{
        max-height: 300px;
    }
    #new_image_preview{
        height: 150px;
        width: 150px;
        overflow: hidden;
        background: black;
    }
    .profile_menu__wrapper{
        margin-bottom: 10px;
        .nav{
            .nav-item{
                width: 100%;
            }
        }
    }
    .profile_user_lists__wrapper{
        margin-top: 10px;
        hr {
            margin-top: .5rem;
            margin-bottom: .5rem;
        }
        .profile_user_lists__row{
            div:last-child{
                margin-top:1rem;
            }
        }
        .profile_user_lists__row:first-child{
            margin-top: 10px;
        }
        .profile_user_lists__row .alert{
            margin-top: 10px;
        }
    }
}

.updates__wrapper{
    .update__wrapper > div{
        padding: 5px;
        .update_item{
            .update_text{
                padding: 5px;
            }
        }
    }
    .update_list__wrapper{
        margin: 20px 0;
    }
}

.title__wrapper{
    .title_caption__wrapper{
        .title_rating{
            padding: 0.25rem  0.5rem;
            font-size: 1.2rem;
            background-color: $primary;
            color: white;
            border-radius: 5px;
            font-weight: 600;
            cursor: pointer;
        }
        .title_rating_star{
            color: $primary;
            font-size: 1.7rem;
            padding: 0px 10px;
            cursor: pointer;
        }
        .title_rating_total{
            margin-left: 10px;
        }
        .title_info__wrapper{
            margin: 10px 0px;

            div{
                margin-bottom: 10px;
            }
            .title_info__name{
                font-weight: 600;
                margin: 0 5px;
            }

            .title_info__row{
                vertical-align: top;
            }
            .title_info__value{
                text-align: left;
            }
            .title_category{
                .title_info__value{
                    a{
                        padding: 0.25rem  0.5rem;           
                        background-color: $primary;
                        color: white;
                        border-radius: 5px;
                        font-weight: 600;
                        text-transform: uppercase;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    
    .title_user_lists__wrapper{
        margin-bottom: 10px;
        background: $dark;
        border-radius: 2px;
        .dropdown-toggle{
            text-decoration: none;
            font-size: 0.85rem;
            font-weight: 500;
            display: block;
            padding: 2px;
        }
        .dropdown-menu{
            width: 100%;
            // position: relative;
            border: 1px solid $dark;

            .dropdown-item:not(.active){
                color: $primary;
            }
            /* .dropdown-item{
                padding-right: calc(1.5em + 0.75rem);
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8… 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
                background-repeat: no-repeat;
                background-position: center right calc(0.375em + 0.1875rem);
                background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
            } */
        }
        .res{
            font-weight: 500;
            font-size: 0.75rem;
            border-radius: 2px;
        }
    }
    .title_comments__sort{
        padding: .375rem .75rem;
        margin-bottom: 1rem;
        color: white;
        border-radius: .25rem;
        display: flex;
        justify-content: start;
        align-items: center;
        span:nth-child(1){
            margin-right: 1rem;
        }
        a{
            text-decoration: none!important;
            padding: 2.5px 5px 5px;
            background: $dark;
            color: white;
            transition: .1s all linear;
            border-radius: .25rem;
            vertical-align: middle;
        }
        a.active, a:hover{
            background: $green;
            color: $dark;
            transition: .1s all linear;
        }
    }
    .title_comments__list{
        .title_comment{
            margin: 0 0 10px;
            height: 113px;
            overflow: hidden;
            .title_comment_user_image{
                min-width: 113px;
                max-width: 113px;
            }

            .title_comment_text__wrapper, .title_comment_caption__wrapper{
                padding: 0 10px;
            }
            .title_comment_text__wrapper{
                position: relative;
                .title_comment_show__wrapper{
                    display: none;
                }
                .title_comment_text{
                    display: block;
                }

                .spoiler{
                    .title_comment_text, .title_comment_show__wrapper{
                        display:none;
                    }
                }
            }
            .title_comment_text__wrapper.hidden{
                height: 87.5px;
                .title_comment_show__wrapper{
                    font-weight: 500;
                    justify-content: center;
                    align-items: flex-end;
                    display: inline-flex;
                    position: absolute;
                    top: 66px;
                    left: 0;
                    width: 100%;
                    height: 24px;
                    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 1));
                }
                .spoiler{
                    .title_comment_text, .title_comment_show__wrapper{
                        display:none;
                    }
                }
            }
            .title_comment_rating__wrapper{
                .title_comment_rating{
                    font-size: 1.2rem;
                    text-decoration: none;
                    span{
                        font-size: 1rem;
                    }
                }
            }
            .title_comment_content__wrapper{
                max-width: calc(100% - 110px);
            }
        }
        .title_comment.show{
            height: auto;
            overflow: visible;
            .title_comment_text__wrapper.hidden{
                height: auto;
            }
        }
    }
}
.preloader{
    background: rgba(255, 255, 255, 0.7) center center no-repeat;
    background-image: url('/static/web/img/loader.svg');
    background-size: 130px;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .5s linear;
}
.preloader.active{
    display: block;
    opacity: 1;
    transition: all .5s linear;
}

#filter_preloader{
    height: 100vh;
}

#rate_title{
    .rate_wrap{
        position: relative;
        cursor: pointer;
        .rate_i{
            color: #F2C14E;
            position: absolute;
            top: 3px;
            left: 3px;
            font-size: 25px;
            z-index: 1;
            transition: .1s all linear;
        }
        .rate_i_i{
            z-index: 2;
            position: relative;
        }
    }
    .rate__wrapper:hover, .rate__wrapper.active{
        .rate_i{
            color: $primary;
            opacity: 1 !important;
            transition: .1s all linear;
        }
    }
    .progress-bar{
    }
}


.title_translations__wrapper{
    .title_watch_order__wrapper{
        margin-bottom: 10px;
        // a{
        //     color: white;
        // }
        // a.active{
        //     color: white;
        // }
        .title_watch_order{
            cursor: pointer;
            padding: 0.25rem  0.5rem;
        }
    }
    
    .title_translation__wrapper{
        margin-bottom: 10px;
        .title_translation_name{
            cursor: pointer;
            padding: 0.25rem  0.5rem;
        }
        .title_translation_episode{
            color:white;
        }
        .title_player{
            background: $dark center center no-repeat;
            background-image: url('/static/web/img/loader.svg');
            background-size: 100px;
        }
        .title_translation_se__wrapper{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 10px;
            overflow-y: auto;
            max-height: 175px;
        }
        .title_translation_se__wrapper::-webkit-scrollbar-thumb {
            // background: $dark;
            // border: 0.5px solid rgba(0,0,0,0.2);
        }
        .title_translation_episode{
            height: 35px;
            width: 35px;
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            background: $dark;
            margin: 4px;
            transition: .1s all linear;
            border-radius: 0.25rem;
            border:1px solid $dark-half;
        }
        .title_translation_last{
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            background: $dark;
            margin: 4px;
            padding: 0.25rem;
            transition: .1s all linear;
            color: white;
            border-radius: 0.25rem;
            border:1px solid $dark-half;
        }
        .title_translation_last:hover, .title_translation_episode.active, .title_translation_episode:hover{
            background: $green;
            color: $dark;
            transition: .1s all linear;
            text-decoration: none;
        }
        .title_translation_subscription{
            position: absolute;
            right: -1px;
            top: -1px;
            padding: 0.25rem  0.5rem;
            background: $dark;
            border-radius: 0.25rem;
            transition: linear .2s all;
            cursor: pointer;
            height: 32.6px;
            display: flex;
            align-items: center;
            border:1px solid $dark-half;
        }
        .title_translation_subscription.active,.title_translation_subscription:hover{
            background: $green;            
            color: $dark;
            transition: linear .2s all;
        }
    }
}
.notifications__wrapper{
    .notification_header{
        .controls{
            text-align: end;
        }
    }
    .notifications_list{

        .notification_item{
            align-items: center;
            td{
                padding: 0.25rem 0.5rem;
                vertical-align: middle;
            }
            .notification_type{
            }
            .notification_date{
            }
            .notification_text{
                width: 100%;
            }
            .notification_controls{
                text-align: right;
                white-space: nowrap;
            }
        }
    }
}

.pika-single{
    background: white;
}


#popupar_carousel{
    max-height: 300px;
    padding-top: 52px;
    margin-top: -42px;
    overflow: hidden;
    .flickity-viewport{
        max-height: 300px;
    }
    .carousel-cell {
        width: 16.66%;
        margin: 0 5px;
        .carousel-cell-text{
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }
    .flickity-page-dots {
        bottom: 0px;
    }
    .flickity-prev-next-button{
        top: 22px;
    }
}

.choices[data-type*=select-one]{
    color: $dark;
    .choices__list--single{
        padding: 3.5px;
    }
    .choices__button, .choices[data-type*=text] .choices__button {
        border-left: 1px solid $dark-half;
    }
    .choices__list--dropdown {
        background-color: #f3f3f3;
        .choices__item{
            padding: 5px;
        }
        .choices__item.is-highlighted{
            background-color: #e2e2e2;
        }
    }
    .choices__inner {
        padding: 3.5px .75rem px;
        min-height: 37px;
        border-radius: .25rem;
    }
    .choices__input{
        margin-bottom: 0px;
        padding: 3.5px;
    }
}

.choices[data-type*=select-multiple]{
    color: $dark;
    .choices__list--multiple .choices__item {
        background-color: #ac7b84;
        border-radius: 5px;
        border: 1px solid $dark-half;
    }
    .choices__button, .choices[data-type*=text] .choices__button {
        border-left: 1px solid $dark-half;
    }
    .choices__list--dropdown {
        background-color: #f3f3f3;
        .choices__item{
            padding: 5px;
        }
        .choices__item.is-highlighted{
            background-color: #e2e2e2;
        }
    }
    .choices__inner {
        min-height: 37px;
        padding: 3.5px .75rem 0px;
        border-radius: .25rem;
    }
    .choices__input{
        margin-bottom: 0px;
        padding: 3.5px;
    }
}


.inf_load_btn{
    .spinner-border{
        display: none;
    }
}

.inf_load_btn:disabled{
    .spinner-border{
        display: inline-block;
    }
}

@media (min-width: map-get($grid-breakpoints, 'xs')){
    #popupar_carousel{
        .carousel-cell {
            width: calc(50% - 10px);
        }
    }
}

@media (min-width: map-get($grid-breakpoints, 'sm')){
    #popupar_carousel{
        .carousel-cell {
            width: calc(33.33% - 10px);
        }
    }
}

@media (min-width: map-get($grid-breakpoints, 'md')){
    #popupar_carousel{
        .carousel-cell {
            width: calc(25% - 10px);
        }
    }
}

@media (min-width: map-get($grid-breakpoints, 'lg')){
    #popupar_carousel{
        .carousel-cell {
            width: calc(20% - 10px);
        }
    }
}

@media (min-width: map-get($grid-breakpoints, 'sm')) and (max-width: map-get($grid-breakpoints, 'md')){
}

@media (max-width: map-get($grid-breakpoints, 'sm')){
    header{
        .navbar{
            .dropdown-item{
                text-align: center;
            }
            .nav_fix{
                flex-direction: column;
            }
        }
    }
    .title__wrapper{
        .title_comments__list{
            .title_comment{
                height: auto;
                .title_comment_user_image{
                    max-width: 75px;
                    min-width: 75px;
                }
                .title_comment_content__wrapper{
                    max-width: 100%;
                }
                .title_comment_text__wrapper{
                    padding: 0;
                }
            }
        }
    }
    .update_image{
        img{
            width: 50px;
            height: 50px;
        }
    }
}

@media (min-width: map-get($grid-breakpoints, 'md')){
    .profile__wrapper{
        .profile_user_lists__wrapper{
            .profile_user_lists__row{
                div:last-child{
                    margin-top: 0;
                }
            }
        }
    }
    #titles__container, .profile_user_lists__wrapper{
        .title__wrapper{
            .title_poster{
                height: 225px;
                width: 175px;
            }
            .title_rate{
                padding: 0px 0.25rem;
                top: 200px;
            }
        }
    }
}

@media (max-width: map-get($grid-breakpoints, 'md')){
    header{
        .navbar{
            .navbar-brand{
                margin-right: 0px;
            }
            .logo{
                width: 40px;
                height: 40px;
                top: -4px;
                position: relative;
            }
            .__search{
                margin-top:10px;
            }
        }
    }
}

