{% extends 'web/base.jinja' %}

{% block meta %}
    <meta name="robots" content="noindex,follow">
    <title>Завершение регистрации аккаунта</title>
{% endblock meta %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <p class="display-5">Завершение регистрации</p>
            <p class="lead">На Ваш почтовый адрес [<strong>{{email_verification.user.email}}</strong>] было отправлено письмо для завершения регистрации.</p>
            <p><small class="text-muted">Не забудьте проверить раздел "Спам"</small></p>
            <p><small class="text-muted">При возникновении вопросов или проблем с регистрацией - просьба написать на почту <strong><a href="mailto:support@anikude.com">support@anikude.com</a></strong></small></p>
            <hr class="my-4">
            <p><a class="btn btn-primary" href="{{url('login')}}" role="button">Уже подтвердил. Войти в аккаунт</a></p>
            <p><a class="send_again" href="javascript:void(0);">Отправить письмо еще раз</a></p>
        </div>
    </div>
    <script>
        $('.send_again').on('click', function(){
            fetch('{{url("profile_verification_send_again")}}', {
                body: new URLSearchParams({csrfmiddlewaretoken:csrftoken}).toString(),
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                method: 'post'
            })
            .then(response => response.json())
            .then(json => {
                if (json['error']){
                    Notice.add(json['error'], 'danger');
                }else{
                    Notice.add(json['success'], 'success');
                }
            })
            .catch(err => {});
        })
    </script>
{% endblock content %}
    