{% extends 'web/base.jinja' %}

{% block meta %}
    <meta name="robots" content="noindex,follow">
    <title>Завершение регистрации аккаунта</title>
{% endblock meta %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <p class="display-5">Регистрация успешно завершена!</p>
            <p class="lead">Ваш почтовый адрес [<strong>{{email_verification.user.email}}</strong>] успешно подтвержден.</p>
            <hr class="my-4">
            <p><a class="btn btn-primary" href="{{url('login')}}" role="button">Перейти в профиль</a></p>
        </div>
    </div>
{% endblock content %}
    