<!-- {% extends 'admin/base.html' %} -->

{% load static %}
{% load tags %}
{% load fontawesome_5 %}

{% block content %}
<div id="filemanager" class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
            <br>
            <div class="breadcrumbs">
                {% if path %}
                    <span>/ <a href="/admin/filebrowser/" class="__link">images</a></span>
                {% else %}
                    <span>/ images</span>
                {% endif %}

                {% for link, breadcrumb in path %}
                    {% if loop.last %}
                        <span>/ {{breadcrumb}}</span>
                    {% else %}
                        <span>/ <a href="/admin/filebrowser/{{ link }}/" class="__link">{{breadcrumb}}</a></span>
                    {% endif %}
                {% endfor %}
            </div>
            <br>
            {% for files in files|chunk %}
                <div class="row">
                    {% for file in files %}
                        <div class="col-sm-3 col-xs-4 text-center">
                        {% if file.isfolder %}
                            <div class="text-center">
                                <a href="/admin/filebrowser/{{file.rel_path}}" class="directory __link" style="vertical-align: middle;">
                                    {% fa5_icon 'folder' 'fas fa-5x' %}
                                    <span>{{file.filename}}</span>
                                </a>
                            </div>
                        {% else %}
                            <div class="text-center">
                                <a href="javascript:void(0);" class="thumbnail">
                                    <img src="{% imgurl file 75 75 %}" alt="{{file.filename}}" title="{{file.filename}}">
                                    <input type="hidden" name="rel_path" value="{{file.rel_path}}">
                                    <span>{{file.filename}}</span>
                                </a>
                            </div>
                        {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <br />  
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}